
.copyblock.black
  .inner
    .blurb
      p The Chelsea collection's classic materials fused with angular design is inspired by combination of the old and new architecture that makes the Chelsea neighborhood so unique.
      p The weighted razor and handmade badger brush are housed within a nickel-plated arm and metal stand that's designed to proudly display these carefully designed pieces and stand the test of time.

.image.full.black: .inner
  img(data-src='brush.png')

.images.table: .inner_100.row
    .copyblock.orange
      .inner
        .title RAZOR SHARP TECHNOLOGY
        .copy The Lexington collection is a sophisticated, elegant shaving set that combines classic lines with the latest in Gilette Flexball technology for a versatile look inspired by the Art of Shaving's first store on Lexington Avenue.
    .imgblock(style="background-image: url('../img/work/aos/150409_AOS_Lexington_Razor.png')")
    
.images: .inner_100
  img(data-src='150408_AOS_Lexington_Handle.png')
  img(data-src='AOS-base.png')

