
.copyblock.black
  .inner
    .blurb
      p The Chelsea collection's classic materials fused with angular design is inpsired by combination of the old and new architecture that mkaes the Chelsea neighborhood so unique.
      p The weighted razor and handmade badger brush are housed within a nickel-plated arm and metal stand that's designed to proudly display these carefully designed pieces and stand the test of time.

.image.full.black: .inner
  img(src='/img/work/aos/1440/brush.png')

.copyblock.orange
  .inner
    .title RAZOR SHARP TECHNOLOGY
    .copy The Lexington collection is a sophisiticated, elegant shaving set that combines classic lines with the latest in Gilette Flexball technology for a versatile look inspired by the Art of Shaving's first store on Lexington Avenue.

.image: .inner
  img(src='/img/work/aos/1440/Lexington_Handle_cropped.png')
.images: .inner
  img(src='/img/work/aos/1440/Lexington_Razor.png')
  img(src='/img/work/aos/1440/Lexington_Base.png')

