
.copyblock.black
  .inner
    .blurb
      p #{project.body1.left}
      p #{project.body1.right}

.image.full.black: .inner
  img(data-src='brush.png')

.space.black
.space.black

.images.table: .inner_100.row
    .copyblock.orange
      .inner
        .title #{project.body2.title}
        .copy #{project.body2.copy}
    .imgblock(style="background-image: url('../img/work/aos/150409_AOS_Lexington_Razor.png')")
    
.images: .inner_100
  img(data-src='150408_AOS_Lexington_Handle.png')
  img(data-src='AOS-base.png')

