.image: .inner_100

  img(data-src='astro_astor_black-002.jpg')

.copyblock
  .inner
    .title Brand Design
    .copy Astor & Black is a bespoke menswear brand that turns the traditional model on its tail by being a digital-native company that services clients nationwide yet only has one physical location.

.image: .inner
  img(data-src='astro_astor_black-003.jpg')

.space

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/astorandblack/1440/astro_astor_black-004.jpg')")
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/astorandblack/1440/astro_astor_black-005.jpg')")

.image: .inner
  img(data-src='astro_astor_black-006.jpg')

.space  

.images: .inner.table.minheight_500: .row
  .imgblock.jinnigif(style="background-image: url('../img/work/astorandblack/1440/astro_astor_black-007.jpg')")
  .copyblock.blue4(style="color: #fff;"): .inner
    .copy Astor & Black’s love of heritage and genuine personality merged with their progressive digital-first model led us to design a brand that emphasized craft with classic elements that would play across multiple media channels.

.space

.images: .inner.table.minheight_400: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/astorandblack/1440/astro_astor_black-008.jpg')")
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/astorandblack/1440/astro_astor_black-009.jpg')")

.images: .inner.table.minheight_400: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/astorandblack/1440/astro_astor_black-010.jpg')")
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/astorandblack/1440/astro_astor_black-011.jpg')")    

.space

.image: .inner
  img(data-src='astro_astor_black-012.jpg')  

.space

.space_mobile
.space_mobile





