
.image: .inner
  img(data-src='Nike-Fuelband-Astro.png')

.copyblock: .inner
  .title inspired by lifestyle
  .copy The Nike+ Fuelband's design is inspired by the active lifestyle it encourages.  A soft, sport-inspired, outer skin is designed for lasting comfort under toughest athletic tests.

.image: .inner
  img(data-src='nikefuelband-limited-edition-gold.png')

.copyblock: .inner
  .blurb
    p The interaction design on the Fuelband was designed to inspire wearers to be active by rewarding them with motivational messages and a running tally of their fuel points running across a delightful dead-front display and fuel gauge.
    p One of the earliest expressions of the quantified self movement, we designed the Nike+ Fuelband to have refined, unisex aesthetic that made it one of the first wearables to be both fashionable and funcitonal.  Expanded editions included Fuelbands made with gold, silver, and a range of active colors.

.images: .inner
  img(data-src='Fuelbands.png')
  img(data-src='USB_docking_edit.png')

.copyblock: .inner
  .copy The final result was a product with an iconic form and a totally original experience that inspired desire in millions of active people and helped ignite the fitness tracker trend.

.image: .inner
  img(data-src='Fuelband_Lifestyle.png')

.space
.space
