.images: .inner_100
  img(data-src='Black_SideOrtho.png')
  img(data-src='Galaxy.png')

.copyblock
  .inner
    .title #{project.body1.title}
    .copy #{project.body1.copy}

.image.white2: .inner
  img(data-src='EG3_Tech.png')
      
.copyblock.blue5
  .inner
    .copy.big #{project.callout.copy}
.space
.space
.image: .inner
  img(data-src='EG3_BLACK_PURE.png')
  img(data-src='14_0303_BALDFACE_14 168.png')
  img(data-src='Black_Bottom.png')

.copyblock(style="padding-top:0")
  .inner
    .copy #{project.body2.copy}
