.copyblock
  .inner
    .title TV has changed
    .copy In the past TV choices were limited to broadcast networks.  Later, cable channels created hundreds of choices.  Noe, with the addition of streaming and on-demand services, choice is nearly unlimited -- creating a new problem: finding something to weatch.  Jinni partnered with ASTRO to develop an information design langauge and UX model that made their technology functionally friendly.

.copyblock.white3
  .inner
    .title New UX Principles
    .copy Our goals in creating a next generation TV entertainment experience were simple: create an enjoyable to use experience that got y9ou to great content faster, using Jinni's unique ENtertainment Genome to find the best content for you.

.image
  img(src='/img/work/jinnitv/1440/storyboards.jpg')

.copyblock
  .inner
    .blurb
      p Using Jinni's Entertainment Genom technology as a starting point, we deisgned a user discovery experience taht allows viewers to discover the content they want, before they know they want it, without ever having to punch in a fustratingly long show title into a serach bar.
      p The result was an intuitive and visually compelling experience that allowed viewers to navigate a novel content hierarchy and cover more relevant information than ever.  People, and the industry, responded -- Jinni TV was awarded an Emmy for Innovation in TV discovery in 2015.

.image
  img(src='/img/work/jinnitv/1440/tv.png')
.copyblock.white3
  .inner
    .copy.big Jinni TV was awarded an Emmy for Innovation in TV discovery in 2015.
 
