.copyblock
  .inner
    .title TV has changed
    .copy In the past TV choices were limited to broadcast networks.  Later, cable channels created hundreds of choices.  Noe, with the addition of streaming and on-demand services, choice is nearly unlimited -- creating a new problem: finding something to watch.  Jinni partnered with ASTRO to develop an information design language and UX model that made their technology functionally friendly.

.image: .inner
  img(data-src='JinniStory-LG_stillframe.png')

.space

.copyblock.white3
  .inner
    .title New UX Principles
    .copy The first thing we noticed about most TV experiences was that they offered too many choices.
    
    
.images: .inner.table: .row
  .copyblock.red: .inner
    .title so many options
    .copy As training techniques at all levels become more sophisticated and the stakes continue to increase, athletes are looking in new places for a competitive edge.  For many, the mind is the final frontier and elite athletes must train their mind as rigorously as they train their bodies
  .imgblock(style="background-image: url('../img/work/jinnitv/1440/01-Reduced-Choice Old.gif')")
   
.images: .inner.table: .row
  .copyblock.blue: .inner
    .title reduce choice
    .copy To make the experience less stressful, we reduced choice at any moment. Large grids of thumbnails were replaced with short lists, never containing more than 5 choices on a screen at once.
  img(data-src="01-Reduced-Choice New.gif") 
    
.images: .inner.table: .row
  .imgblock(style="background-image: url('../img/work/jinnitv/1440/02-Reduced-Friction Old.gif')")
  .copyblock.red: .inner
    .title form fail
    .copy When searching for content, many applications ask the user to submit long queries or go through a multistep process.
    
.images: .inner.table: .row
  .imgblock(style="background-image: url('../img/work/jinnitv/1440/02-Reduced-Friction New.gif')")
  .copyblock.blue: .inner
    .title tubes
    .copy We decided to make results instant, so even when filtering through content, you see immediate results and never have to hit "submit"       

.images: .inner.table: .row
  .copyblock.blue: .inner
    .title reduce choice
    .copy Jinni's Entertainment Genome creates the best possible connection between content.  We leverage this in a deceptively simple idea: allow any piece of content to be a gateway to more titles like it, leading to a fluid discovery experience.
  .imgblock(style="background-image: url('../img/work/jinnitv/1440/03-Content-leads-to-Content-FULL.gif')")  
    

.image: .inner
  img(data-src='storyboards.jpg')
  

.copyblock
  .inner
    .blurb
      p Using Jinni's Entertainment Genome technology as a starting point, we designed a user discovery experience that allows viewers to discover the content they want, before they know they want it, without ever having to punch in a frustratingly long show title into a search bar.
      p The result was an intuitive and visually compelling experience that allowed viewers to navigate a novel content hierarchy and cover more relevant information than ever.  People, and the industry, responded -- Jinni TV was awarded an Emmy for Innovation in TV discovery in 2015.

.image: .inner
  img(data-src='tv_bckgnd.png')
.copyblock.white3
  .inner
    .copy.big Jinni TV was awarded an Emmy for Innovation in TV discovery in 2015.
 
