.space

.image: .inner_100
  img(data-src='astro_spinning_collar.gif')

.space

.images: .inner_100
  img(data-src='astro_linkakc_01.jpg')
  img(data-src='astro_linkakc_02.jpg')

.image: .inner_100
  img(data-src='astro_linkakc_03.jpg')

.images: .inner_100
  img(data-src='astro_linkakc_04.jpg')
  img(data-src='astro_linkakc_05.jpg')
  
.image: .inner_100
  img(data-src='astro_linkakc_06.jpg')  
  
.space  
  
.image: .inner
  img(data-src='astro_linkakc_07.jpg')  

.space

.image: .inner
  img(data-src='astro_linkakc_08.jpg')
  
.space

.image: .inner
  img(data-src='astro_linkakc_09.jpg')    

.space

.image: .inner
  img(data-src='astro_linkakc_10.jpg')

.space

.image: .inner
  img(data-src='astro_linkakc_11.jpg')

.space

.image: .inner_100
  img(data-src='astro_linkakc_12.jpg')

.space

.image: .inner
  img(data-src='astro_linkakc_13.jpg')

.space

.images: .inner_100
  img(data-src='astro_linkakc_14.gif')
  img(data-src='astro_linkakc_15.jpg')
  
.images: .inner_100
  img(data-src='astro_linkakc_16.jpg')
  img(data-src='astro_linkakc_17.gif')    

.space

.embed: .inner
  iframe.iframe(src="https://player.vimeo.com/video/185074201" width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

.space  

.image: .inner
  img(data-src='astro_linkakc_18.jpg')

.space

.embed: .inner
  iframe.iframe(src="https://player.vimeo.com/video/185734132" width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

.space

.image: .inner
  img(data-src='astro_linkakc_19.jpg')

.copyblock: .inner
  .title #{project.body1.title}
  .blurb
    p #{project.body1.left}
    p #{project.body1.right}
          

.space_mobile
.space_mobile



.space
