.image: .inner
  img(data-src='astro_logitech-001.jpg')

.copyblock
  .inner
    .copy These days, technology can turn any space into an office. However, that same technology demands greater connectivity and, in many cases, videoconferencing capability. We designed the Logitech videoconferencing system to be flexible enough to adapt to modern offices.

.image: .inner
  img(data-src='astro_logitech-002.jpg')

.copyblock
  .inner
    .copy Leveraging Logitech’s expertise in connected digital experiences, we looked to understand and define the small-to medium conference room environment. We paid close attention to user needs for interacting with, setting up, and making a call. We used this to inform a UI design approach that resulted in an intuitive interface that was user-friendly to everyone  

.image: .inner
  img(data-src='astro_logitech-003.jpg')

.space

.copyblock.blue2
  .inner
    .copy.big Working closely with Logitech’s development and engineering
team, our product design had to balance user needs with technical and mechanical constraints.

.space

.copyblock
  .inner
    .copy The ConferenceCam system was designed to create a complete and consistent experience for the multiple physical components as well as the UI.

.image: .inner
  img(data-src='astro_logitech-004.jpg')

.space

.copyblock.blue2
  .inner
    .copy.big The result was an elegant all-in-one videoconferencing
solution with an approachable form factor that established
Logitech as a leader in the sector.

.space

.image: .inner_100
  img(data-src='astro_logitech-005.jpg')


.space_mobile
.space_mobile





