.copyblock
  .inner
    .title drilling into the brand
    .copy We started by naming the company.  The company lets everyday working folts, or mineral-rights owners and high-stakes, business people or energy-industry lessess collaborate.  So we needed to have a name that reflected a spirit of cooperation.  We believe we struck gold with the approachable Mineralist.

.image: .inner
  img(data-src='brand_banner.jpg')

.copyblock
  .inner
    .copy The Mineralist name served a clever second purpose of being a description of the user interface -- Mineralist is literally a list of minerals available for the energy industry to lease.


.copyblock.blue5
  .inner
    .copy.big The visual identity reflects the coming together of the two parties, resulting in an oil drop.
    
.images: .inner
  img(data-src='book2.jpg')
  img(data-src='book.jpg')

.space
    
.image: .inner
  img(data-src='business_card.png')
    
.image: .inner
  img(data-src='bs_flat.png')
    
.images: .inner
  img(data-src='trees.png')
  img(data-src='trees2.jpg')

.copyblock
  .inner
    .copy Once the brand has fully defined, we then defined the IA (??) and UX for the transaction platform, working through visual design and partnering with software developers to craft the digital mother lode of brand experiences.

.image: .inner
  img(data-src='illustrations.png')

.image: .inner
  img(data-src='home.png')

.space

.image: .inner
  img(data-src='texture.jpg')
