.images: .inner_100
  img(data-src='watch-schematic.png')
  img(data-src='watch-detail.png')

.copyblock
  .inner
    .title #{project.body1.title}
    .copy #{project.body1.copy}

.images: .inner
  img(data-src='logo_lazer-01.png')
  img(data-src='logo_lazer-02.png')
      
.image: .inner
  img(data-src='display.png')
  img(data-src='newspaper-1.png')
  img(data-src='Minus8_card.png')

.copyblock
  .inner
    .blurb
      p #{project.body2.left}
      p #{project.body2.right}

.image: .inner
  img(data-src='_J2A0861.png')
  img(data-src='lifestyle.png')
  img(data-src='_J2A3707.png')

.space
.space

