.images: .inner
  img(src='/img/work/minus8/1440/blueprint.jpg')
  img(src='/img/work/minus8/1440/side.jpg')

+pimg(project.folder, 'strategy_banner.jpg', 'bottom')

  
.copyblock
  .inner
    .title constructing a brand bit-by-bit
    .copy We created Minus-8 to scratch our entrepreneurial itch and to give ourselves the chance to deisgn for our toughest client: us.  Free to pursue our wilder impulses but bound by our exacting standards we combined the best materials and production methods with a modern machine aesthetic that embraces experimentation culture to create a totally unique line of watches.

.image: .inner
  img(src='/img/work/minus8/1440/brand.png')
  img(src='/img/work/minus8/1440/table.jpg')
  img(src='/img/work/minus8/1440/print.jpg')
  img(src='/img/work/minus8/1440/card.jpg')

.copyblock
  .inner
    .blurb
      p The Minus-8's brand is inspired by California's eight-hour distance from Greenwich Mean Time.  We believe America's West Coast culture gives us the freedom to be innovators and change-agents.  The progressive, layered construtction makes Minus-8 as future-focused in its aesthetic as it is in its ethos.
      p Since launching Minus-8 in 2014, we've created 4 full lines of watches as well as a collection with another native San Francisco apparel brand, NICE Collective.

.image: .inner
  img(src='/img/work/minus8/1440/incase.jpg')
  img(src='/img/work/minus8/1440/lifestyle3.png')
  img(src='/img/work/minus8/1440/lifestyle2.png')

