
.image.blue5: .inner
  img(data-src='Neff_Watches_yellowblue_due.png')

.copyblock
  .inner
    .title #{project.body1.title}
    .copy #{project.body1.copy}

.image: .inner
  img(data-src='Neff_Watches_black_due.png')
  img(data-src='Neff_Watches_front-animated.gif')

.copyblock
  .inner
    .copy #{project.body2.copy}

.image: .inner_100
  img(data-src='Neff_Watches_all_angled.png')
  
.space_mobile
.space_mobile
