
.image.blue5: .inner
  img(data-src='Neff_Watches_yellowblue_due.png')

.copyblock
  .inner
    .title energy. expression. fun.
    .copy Neff's brand blasts the world with energy and self-expression.  They asked us to create their first watches to be as recognizable and unique as the rest of their brand.  We were inspired to directly align with the bold 2D graphics and playful retro-modern colorways seen in surf, skate, and youth culture.  Mission accomplished.

.image: .inner
  img(data-src='Neff_Watches_black_due.png')
  img(data-src='Neff_Watches_front-animated.gif')

.copyblock
  .inner
    .copy The Strip watch features crisp, clean, graphic geometry and incorporates unique, versatile color block.  The result is a watch with a presence that can be amplified up or down depending on color or material choices.  ultimately appealing to a wide range of Neffheads.

.image: .inner_100
  img(data-src='Neff_Watches_all_angled.png')
