+pimg(project.folder, 'shoe.jpg', 'bottom')

.copy Parents have always wanted help keeping an eye on their sleeping baby.  As the smartphone set beings to have kids, they're looking to see how technology can improve traditional parenting tools.  Armed with that insight, we studied market trends from clothing to housewars to baby products and used that research to inform our product and brand design process.

+pimg(project.folder, 'process2.png', 'top')
+pimg(project.folder, 'process1.png', 'none')
+pimg(project.folder, 'process3.png', 'bottom')

+pimg(project.folder, 'foot.jpg')

.copy The Owlet Smartsock uses the same pulse-oximetry technology long used in hospitals to monitor vital signs.  The sock is wirelessly connected to a base station and the user's Apple device and immdetiately sends out an alert when vital signs fluctuate.

.imagecopy.pad_bottom(style='height: 600px;')
  .block.image.left
    +pimg(project.folder, 'daylight.jpg')
    .clear
  .block.image.right
    +pimg(project.folder, 'nightlight.jpg')
    .clear

.copy The Owlet was designed to be an intuitive piece of technology that compliments the aesthetic of a baby's room, attire, and accessories.  It's easy to use, comfortable to a baby's touch, and the recharging base station even doubles as a comforting nightlight.

+pimg(project.folder, 'playing.png')
