+pimg(project.folder, 'shoe.jpg', 'bottom')

.images.table: .inner_100.row
  .copyblock.orange: .inner
    .title connected to your kid
    .copy Parents have always wanted help keeping an eye on their sleeping baby.  As the smartphone set beings to have kids, they're looking to see how technology can improve traditional parenting tools.
  .imgblock(style="background-image: url('../img/work/owlet/1440/IMG_7156_edit.png')")

.space 

.image: .inner
  img(data-src='IMG_7551.png')

.images: .inner.table: .row
  .copyblock.blue5: .inner
    .copy Armed with that insight, we studied market trends from clothing to housewares to baby products and used that research to inform our product and brand design process.
  .imgblock(style="background-image: url('../img/work/owlet/1440/150111_Owlet_Process2.png')")

.image: .inner
  img(data-src='150111_Owlet_Process1_edit.png')

.copyblock: .inner
  .blurb
    p The Owlet Smartsock uses the same pulse-oximetry technology long used in hospitals to monitor vital signs.  The sock is wirelessly connected to a base station and the user's Apple device and immediately sends out an alert when vital signs fluctuate.
    p The Owlet was designed to be an intuitive piece of technology that compliments the aesthetic of a baby's room, attire, and accessories.  It's easy to use, comfortable to a baby's touch, and the recharging base station even doubles as a comforting nightlight.

.images: .inner
  img(data-src='150108_Owlet_BaseStation_Renders-on.png')
  img(data-src='150108_Owlet_BaseStation_Renders-off.png')
.image: .inner
  img(data-src='IMG_7681.png')

.space
.space
