.space

.image: .inner
  img(data-src='astro_reyes_01.jpg')
  
.image: .inner
  img(data-src='astro_reyes-03.jpg')  
  
.image: .inner
  img(data-src='astro_reyes-04.jpg')

.space

.image: .inner_100
  img(data-src='astro_reyes-05.jpg')

.space

.image: .inner
  img(data-src='astro_reyes-14.jpg')

.image: .inner
  img(data-src='astro_reyes-15.jpg')

.image: .inner
  img(data-src='astro_reyes-08.jpg')

.image: .inner
  img(data-src='astro_reyes-13.jpg')

.embed: .inner
  iframe.iframe(src="https://player.vimeo.com/video/155064776" width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

.image: .inner
  img(data-src='astro_reyes-12.jpg')

.image: .inner
  img(data-src='astro_reyes-07.jpg')

.image: .inner
  img(data-src='astro_reyes-09.jpg')

.space

.image: .inner_100
  img(data-src='astro_reyes-10.jpg')

.space

.image: .inner
  img(data-src='astro_reyes-06.jpg')

.space

.copyblock.blue3: .inner(style="color: #fff;")
  .title #{project.body1.title}
  .blurb
    p #{project.body1.left}
    p #{project.body1.right} 
