.image: .inner_100
  img(data-src='astro_reyes-02.jpg')

.copyblock
  .inner
    .copy Competitve riders need high-performance eyewear, but fashion-conscious cyclists don’t want to wear something too aggressively styled. What’s a serious biker who cares about their kit to wear? <p>And so our challenge was clear: Design premium crafted technologically advanced performance frames that bridge the gap between fashion and sport.


.embed: .inner
  iframe.iframe(src="https://player.vimeo.com/video/154801029?autoplay=1&loop=1" width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

.space  

.image: .inner
  img(data-src='astro_reyes-03.jpg')

.image: .inner
  img(data-src='astro_reyes-04.jpg')

.space  

.image: .inner_100
  img(data-src='astro_reyes-05.jpg')

.space  

.space  

.images: .inner.table.minheight_600: .row
  .imgblock.jinnigif(style="background-image: url('../img/work/reyes/1440/astro_reyes-06.jpg')")
  .copyblock.blue6(style="color: #fff;")
    .inner
      .copy Reyes eyewear concepts take styling, material and manufacturing cues from luxury eyewear. This approach produces the rigorous technical specs required by competitive cyclists and opens up the design palette to satisfy the demands of fashion conscious riders.

.space

.embed: .inner
  iframe.iframe(src="https://player.vimeo.com/video/141120129", width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)  


.space  

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/reyes/1440/IMG_1464-Edit-Edit.jpg')")
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/reyes/1440/IMG_1502-Edit.jpg')")

.space

.image: .inner_100
  img(data-src='IMG_2423-Edit.jpg')

.space

.image: .inner
  img(data-src='astro_reyes-07.jpg')

.image: .inner
  img(data-src='astro_reyes-09.jpg')

.image: .inner
  img(data-src='astro_reyes-10.jpg')

.space

.embed: .inner
  iframe.iframe(src="https://player.vimeo.com/video/155064776", width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

.space

.image: .inner
  img(data-src='astro_reyes-11.jpg')

.image: .inner
  img(data-src='astro_reyes-12.jpg')

.space

.copyblock.blue6(style="color: #fff;")
  .inner
    .copy.big We designed Reyes eyewear to meet a rigorous set of material and design requirements, so that they work great on race day and look great at the cafè.

.image: .inner_100
  img(data-src='astro_reyes-13.jpg')

.space_mobile
.space_mobile



.space




