
.image: .inner
 img(src='/img/work/sol/1440/layered.png')

.copyblock: .inner
  .title from zero to evelen
  .blurb
    p To cut through the noise of all audio brands in the market today, SOL challenged us start from zero and envision a brand new way to wear music that takes the wearer's experience to eleven.
    p We also wanted to create something that resonated with the emerging EDM demographic that gave listeners the opportunity to customize their gear at entry-level price point.  And gave the SOL a platform for rapid refresh and innovation.



.copyblock.blue3: .inner
  .title.white1.centered a brand you can play with


.images: .inner
 img(src='/img/work/sol/1440/layout1.png')
 img(src='/img/work/sol/1440/layout3.png')
 img(src='/img/work/sol/1440/looking.png')
 img(src='/img/work/sol/1440/solbox.png')

.copyblock: .inner
  .blurb
    p The SOL Republic brnad was infused with premium features and effects.  creating a uniquely wearable audio-meets-fashion experience from the packaging to the imagery to the sound wave-inspired identity.
    p To up the customization factor, SOL Republic headphones were designed to be the first fully swappable headphones, allowing the wearer to reconfigure a custom combination of durable FlexTech headbands, cables, and upgradeable sound engines.

.image: .inner
 img(src='/img/work/sol/1440/interchangeable.png')
 img(src='/img/work/sol/1440/2up.png')

.copyblock.blue3: .inner
  .copy.white1.centered Today, with millions of units deployed, SOL Republic is now a lifestyle spacesetter of affordable high-performance headphones.

