+pimg(project.folder, 'logo.jpg', 'bottom')

.copy We were challenged to take Tamar Braxton's presence as a successful musician and reality TV star and define, design, and commercialize her personality into a successful fashion brand identity strategy for both physical and digital goods.

+pimg(project.folder,'hangtag.jpg', 'top')
+pimg(project.folder,'shoebox.jpg', 'bottom')

.copy We built the Tamar brand system to be as confident and instantly recognizable as the woman behind it.  Choosing bold colors, textures, and patterns to create a strong bond between Tamar, her brand, and her fans.

.copy MISSING SELFIE PIC

.copy The result is a timeless, immediately recognizable, identity to be loved and championed by millions of Tamartians around teh world.

+pimg(project.folder, 'jean.jpg', 'top')
+pimg(project.folder, 'tissue.jpg', 'none')
+pimg(project.folder, 'cards.jpg', 'none')
+pimg(project.folder, 'flyshoe.jpg', 'bottom')

