
.copyblock: .inner
  .title making a star go supernova
  .copy We were challenged to take Tamar Braxton's presence as a successful musician and reality TV star and define, design, and commercialize her personality into a successful fashion brand identity strategy for both physical and digital goods.

.image: .inner
  img(data-src='Tamar logo.png')
.images: .inner
  img(data-src='tags.png')
  img(data-src='shoebox.png')
  img(data-src='bag.png')
  img(data-src='tamar-tissue.png')

.copyblock.orange: .inner
  .copy.big.centered We built the Tamar brand system to be as confident and instantly recognizable as the woman behind it.
  
.space
.space
  
.image: .inner
  img(data-src='selfie.png')

.images: .inner.table: .row
  .copyblock.pink1: .inner
    .copy Choosing bold colors, textures, and patterns to create a strong bond between Tamar, her brand, and her fans.
    .imgblock(style="background-image: url('../img/work/tamar/1440/buttons.png')")


.image: .inner
  img(data-src='TAMAR-PATTERN-final.png')
  img(data-src='150116_shoppingspree_1026R-2d.png')

.space
.space
