
.copyblock: .inner
  .title making a star go supernova
  .copy We were challenged to take Tamar Braxton's presence as a successful musician and reality TV star and define, design, and commercialize her personality into a successful fashion brand identity strategy for both physical and digital goods.

.image: .inner
  img(src='/img/work/tamar/1440/logo.jpg')
.images: .inner
  img(src='/img/work/tamar/1440/hangtag.jpg')
  img(src='/img/work/tamar/1440/shoebox.jpg')
  img(src='/img/work/tamar/1440/cards.jpg')
  img(src='/img/work/tamar/1440/tissue.jpg')

.copyblock.orange: .inner
  .copy.big.centered We built the Tamar brand system to be as confident and instantly recognizable as the woman behind it.
  
.space
.space
  
.image: .inner
  img(src='/img/work/tamar/1440/selfie.png')
  
.copyblock.pink1: .inner
  .copy Choosing bold colors, textures, and patterns to create a strong bond between Tamar, her brand, and her fans.

.image: .inner
  img(src='/img/work/tamar/1440/buttons.png')
  img(src='/img/work/tamar/1440/pattern.png')
  img(src='/img/work/tamar/1440/spree.png')

.space
.space
