.space

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/threedr/1440/astro_threedr_01.jpg')")

.space

.image: .inner
  img(data-src='astro_3dr_brand_banner.png')

.image: .inner
  img(data-src='astro_3dr_guide.png')

.space

.image: .inner_100
  img(data-src='astro_3dr_drone_02.jpg')

.space

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/threedr/1440/astro_3dr_overhead.jpg')")

.space

.image: .inner
  img(data-src='astro_drone.gif')
  
.image: .inner
  img(data-src='astro_3dr_drone_03.jpg')

.space

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/threedr/1440/astro_3dr_lifestyle.jpg')")


.space

.image: .inner
  img(data-src='astro_3dr_drone_color.gif')

.embed: .inner
  iframe.iframe(src="https://player.vimeo.com/video/180376157", width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)  

.space

.image: .inner_100
  img(data-src='astro_3dr_air.jpg')
  
.space

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/threedr/1440/astro_3dr_controller.jpg')")

.space

.image: .inner
  img(data-src='astro_3dr_controller_02.jpg')
  
.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/threedr/1440/astro_3dr_controller_03.jpg')")  
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/threedr/1440/astro_3dr_controller_04.jpg')")
  
.space

.image: .inner_100
  img(data-src='astro_3dr_ground.jpg')
  
.space

.image: .inner
  img(data-src='astro_3dr_packaging.jpg')  
  
.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/threedr/1440/astro_3dr_packaging_02.jpg')")  
 

.image: .inner
  img(data-src='astro_3dr_lifestyle_02.jpg')  

.image: .inner
  img(data-src='astro_3dr_packaging_03.jpg')
  
.space


.copyblock.green: .inner(style="color: #fff;")
  .title #{project.body1.title}
  .blurb
    p #{project.body1.left}
    p #{project.body1.right} 
       
  
  
