//+youtube('7JpfkGAuhV8')

.copyblock.black: .inner
  .copy Our work for 3D Robotics touched every part of their brand.  Starting with look, feel, and logo system, and carrying through to package design, digital presence, and on to the drone itself.

.images
  .inner_50
    img(data-src='150611_3DR_LogoConstruction.png')
    img(data-src='150611_3DR_Brand_banner.png')

  .inner_50
    img(data-src='150619_3dr_box_v02_ground-BLK.png')
  

.image: .inner_100
  img(data-src='3DR_guide.png')
  
.copyblock.black: .inner 
  .title A drone for everyone
  .copy The biggest challenge was designing the drone to appeal and inspire hard-core enthusiasts and casual users alike.
  .copy Since the Solo's positioning at the cutting-edge of the lifestyle-technology intersection demanded we create a bold yet refined look.  Further, the hazards of flight insisted we also use durable materials that would project the Solo's advanced technology.

.image: .inner_100
  img(data-src='480076_v4.png')

.space
.image: .inner
  img(data-src='150611_3DR_Banner_Alt.png')
  img(data-src='Square_3DR.png')
  
.copyblock: .inner
  .title branding to be a leader
  .blurb
    p We worked to make the Solo's intelligence accessible to users of all levels.  To that end, we created a controller with intuitive user interactions that also featured a revolutionary heads-up video display.
    p The result is a fully integrated consumer experience that has positioned 3D Robotics to be a leader in the growing consumer video drone market.

.image: .inner
  img(data-src='solo_withcontroller.png')

.images: .inner
  img(data-src='150611_3DR_Control.png')
  img(data-src='Closeup_Drone.png')

.image: .inner
  img(data-src='3DR_Black.png')
  img(data-src='3DR_black2.png')
