
.image: .inner
  img(data-src='astro_verifone-629.jpg')

.image: .inner
  img(data-src='astro_verifone-678.jpg')
  
.image: .inner
  img(data-src='astro_verifone-608.jpg')
  
.image: .inner
  img(data-src='astro_verifone-140.jpg')
  
.image: .inner
  img(data-src='astro_verifone-011.gif')
  
.image: .inner
  img(data-src='astro_verifone-418.jpg')            

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/verifone/1440/astro_verifone-478.jpg')")
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/verifone/1440/astro_verifone-581.jpg')")

.image: .inner
  img(data-src='astro_verifone-586.jpg')


.space

  
.space_mobile
.space_mobile
