
.space

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/verifone/1440/astro_verifone-011.gif')")

.space

.image: .inner
  img(data-src='astro_verifone-140.jpg')
  
.space

.image: .inner_100
  img(data-src='astro_verifone-478.jpg')
  
.space

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/verifone/1440/astro_verifone-418.jpg')")
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/verifone/1440/astro_verifone-581.jpg')")
  
.space  
    
.image: .inner_100
  img(data-src='astro_verifone-629.jpg')
  
.space


.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/verifone/1440/astro_verifone-586.jpg')")

.space

.image: .inner_100
  img(data-src='astro_verifone-608.jpg')
  

.copyblock.blue3: .inner(style="color: #fff;")
  .title #{project.body1.title}
  .blurb
    p #{project.body1.left}
    p #{project.body1.right}
    
    
.space_mobile
.space_mobile
