
.images.table: .inner_100.row
  .copyblock.black: .inner
    .title getting ahead of the competition
    .copy As training techniques at all levels become more sophisticated and the stakes continue to increase, athletes are looking in new places for a competitive edge.  For many, the mind is the final frontier and elite athletes must train their mind as rigorously as they train their bodies
  .imgblock(style="background-image: url('../img/work/versus/1440/versus-hero-sports.png')")
  

.copyblock: .inner After we named the parent company; Sense Labs, we named and designed the Versus brand and headset to appeal to athletes' sense of competition-with themselves and others-all while humanizing the serious science behind the experience.  Striking a harmonious balance between science and sport resulted in purpose driven, precise engineering with a performance aesthetic.


.image: .inner
  img(data-src='versuslogo.png')
  img(data-src='versus-brand.png')

.copyblock: .inner We were challenged to create the Versus headset to be attractive enough to pass the mirror test while also being high-performance enough to work effectively on an extreme range of head sizes.

.images.table: .inner_100.row
  .imgblock(style="background-image: url('../img/work/versus/1440/Green_band_detail.png')")
  .copyblock.black: .inner
    .copy We did this by combining heat-welded 3D mesh fabric used in athletic footwear with an ultra-lightweight headphone structure.  The soft X-frame flexes to fit on the wearer's head allowing for micro fit adjustments,  while the soft-spike sensors make contact independently to the scalp.
  
.copyblock.green: .inner
  .title team spirit
  .blurb
    p For an added degree of customization, the headsets are built with replaceable tags that can be customized with a sponsor, team logo or player number.
    p The result? all sorts of athletes have responded to Versus.  From Olympic gold medalists to NBA sharpshooters.  Users have embraced the technology and used it to gain an edge at the highest levels of sport.

.images: .inner_100
  img(data-src='IMG_5034-lifestyle.png')
  img(data-src='headphones.png')
.image: .inner_100
  img(data-src='IMG_5029.png')


