.image: .inner_100
  img(data-src='astro_vive-001.jpg')

.copyblock
  .inner
    .title This Is Real
    .copy Vive delivers on the promise of Virtual Reality. Revolutionary room-scale technology lets users fully immerse themselves in virtual environments. We developed a vibrant, dynamic, and future-facing brand to reflect the transformative impact its launch will have on the world.

.image: .inner
  img(data-src='astro_vive-002.jpg')

.image: .inner
  img(data-src='astro_vive-008.jpg')

.images: .inner.table.minheight_400: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/vive/1440/astro_vive-004.jpg')")
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/vive/1440/astro_vive-005.jpg')")

.images: .inner.table.minheight_400: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/vive/1440/astro_vive-006.jpg')")
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/vive/1440/astro_vive-007.jpg')")

.image: .inner
  img(data-src='astro_vive-015.jpg')

.space

.image: .inner
  img(data-src='astro_vive-018.jpg')

.images: .inner.table.minheight_600: .row
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/vive/1440/astro_vive-016.jpg')")
  .imgblock.ratio_110_mobile(style="background-image: url('../img/work/vive/1440/astro_vive-017.jpg')")

.space

.image: .inner_100
  img(data-src='astro_vive-009.jpg')

.copyblock.blue2(style="color: #fff;") 
  .inner
    .copy.big The tagline, “This is Real,” makes a bold statement about Vive’s power to change the way we think about reality itself. 

.copyblock
  .inner
    .title Transport Yourself
    .copy The logo, called the Vport, stands as a portal to the new Vive-defined reality. The logo consists of a hard outer form, representing Vive’s technology, while a soft inner shape represents the humanity that creates these new worlds.

.embed: .inner
  iframe.iframe(src="https://player.vimeo.com/video/154116117", width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

.image: .inner
  img(data-src='astro_vive-011.jpg')

.image: .inner
  img(data-src='astro_vive-013.jpg')

.image: .inner
  img(data-src='astro_vive-012.jpg')

.space

.embed.full: .inner.full
  iframe.iframe(src="https://player.vimeo.com/video/154115902", width="100%", height="100%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

.copyblock.blue2(style="color: #fff;")
  .inner
    .copy.big All of these elements came together in the Vive brand video used to launch the brand at CES in 2016. 

.space

  
.space_mobile
.space_mobile





