+pimg(project.folder, 'layered.png')

.copy Microsoft challenged ASTRO to deisgn the 2nd generation XBOX to reflect what its technology would make it: a high-octane digital portal to the converging world of live video gaming and online services.
.copy Working with XBOX design and development partners in the US, Asia, and Europe, ASTRO developed the 360 to be just that: attractive from any vantage point.  The 360-design strategy was designed to drive confidence in its new wireless controller connectivity and XBOX Live, its online gaming marketplace.

+pimg(project.folder, 'product_alt.png')

+pimg(project.folder, 'console.png', 'top')
.imagecopy.pad_bottom(style='height: 600px;')
  .block.image.left
    +pimg(project.folder, 'lifestyle_small.png')
    .clear
  .block.image.right
    +pimg(project.folder, 'console_small.png')
    .clear


.copy The result: a comprehensive design langauge applied to everything XBOX 360, including wireless controllers, custom faceplates, a removable hard drive, accessories galore and, ofcourse, the iconic console itself.
.copy With over 80 million units sold since the beginning of its production run, the XBOX 360 has been a gaming mainstay for nearly a decade and pop-culture touchstone forever.

+pimg(project.folder, 'playing.png')
