.footer
  > .inner
    background-color: c.white2
    position relative
    > .section
      float left
      font f_copyl
      min-height 300px
      min-width 275px
      &.first > .inner
        padding 20px 20px 10px 170px
      &.newsletter > .inner
        padding 20px 170px 10px 20px
      > .inner
        padding 20px 20px
        > .title
          padding 50px 0 10px 0
          text-transform uppercase
        > .a
          width 40px
          height 40px
          > svg
            width inherit
            height inherit
            color: c.black1
        > .info
          margin 10px 0
          > p, > a.p
            display block
            color: c.black1
            text-decoration none
            margin 0
    > .section.newsletter
      background-color: c.white3
      > .inner
        > .title
          margin 0 0 10px 0
        > .input
          float left
          width 50%
          > input
            width 100%
            background-color: c.white1
            border none
            outline none
            font f_copys
            padding 10px

        > .button
          float right
          font f_copys
          color: c.white1
          background-color: c.red1
          text-align center
          padding 10px
          text-transform uppercase
          width 30%
          cursor pointer
          transition background-color 0.1s linear
          &:hover
            background-color: rgba(c.red1, 1) 

        > .icons
          margin 20px 0 0 0
          > .icon
            float left
            width 20px
            height 20px
            padding 10px
            background-color: c.black2
            margin 0 5px
            border-radius 30px
            &:hover > svg
              > path, > g > path, > g > g > path
                fill: c.red1
            > svg
              width inherit
              height inherit
              > path, > g > path, > g > g > path
                fill: c.white1
                transition fill 0.1s linear
    > .gravity
      width 160px
      font f_copyl
      position absolute
      bottom 10%
      left 50%
      margin-left -80px
      > .bolt
        float right
        width 20px
        height 20px
        > svg
          width inherit
          height inherit
      > .copy
        float left
        transform rotate(180deg)
        > div
          display inline-block
          transform rotate(180deg)
          margin 0 0 0 -5px

