.footer
  > .inner
    background-color: c.white2
    position relative
    text-align center
    > .section
      float left
      font f_copyls
      min-height 300px
      padding 60px 0 
      &.first > .inner
        padding 20px 20px 10px 50px
      &.newsletter
        float right
      &.newsletter > .inner
        padding 20px 50px 10px 40px
      > .inner
        padding 20px
        text-align left
        > .title
          padding 20px 0 0 0
          text-transform uppercase
        > .a
          width 40px
          height 40px
          > svg
            width inherit
            height inherit
            color: c.black1
        > .info
          margin 0 0 10px 0
          > p, > a.p
            color: c.black2
            display block
            text-decoration none
            margin 0
            transition color 0.1s linear
          > a.p:hover
            color: c.blue1
    > .section.newsletter
      background-color: c.white3
      > .inner
        > .title
          margin 0 0 10px 0
        > form > .input
          float left
          width 200px
          > input
            width 100%
            background-color: c.white1
            border none
            outline none
            font f_copysb
            padding 10px
            border: 0px solid c.white1
            outline: 0px solid c.white1
            -webkit-appearance: none;

        > form > .subscribe
          float right
          color: c.white1
          background-color: c.red2
          text-align center
          padding 9px 6px
          margin 0 0 0 5px
          outline none
          border-radius 0
          border: 0px solid c.red2
          outline: 0px solid c.red2
          text-transform uppercase
          -webkit-appearance: none;
          font f_copysb
          cursor pointer
          transition background-color 0.1s linear
          &:hover
            background-color: rgba(c.red1, 1) 

        > .icons
          margin 20px 0 0 0
          > .icon
            float left
            width 20px
            height 20px
            padding 10px
            background-color: c.black2
            margin 0 5px
            border-radius 30px
            transition background-color 0.1s linear
            &:hover
              background-color: c.red2
              > svg
                > path, > g > path, > g > g > path
                  fill: c.white1
            > svg
              width inherit
              height inherit
              > path, > g > path, > g > g > path
                fill: c.white1
                transition fill 0.1s linear
    > .copyright
      position absolute
      left 170px
      bottom 50px
      font f_copys
      color: c.blue7
    > .gravity
      cursor pointer
      width 160px
      font f_copyl
      position absolute
      bottom 50px
      left 50%
      margin-left -80px
      > .bolt
        float right
        width 20px
        height 20px
        > svg
          width inherit
          height inherit
      > .copy
        float left
        transform rotate(180deg)
        > div
          display inline-block
          transform rotate(180deg)
          margin 0 0 0 -5px

@media all and (min-width: 1px) and (max-width: 1000px)
  
  .footer > .inner
    > .copyright
      position static
      padding 20px 0
    > .gravity
      position static
      margin auto
      padding 20px 0 60px 0
    > .manifesto > .inner > .content > .inner
      padding 20px


  .footer > .inner > .section
    min-height 0px
    min-width 90%
    padding 0 10px
    &.first > .inner
      padding 0 20px
  .footer > .inner > .section.first
    padding 50px 0 0 10px
  .footer > .inner > .section.second, .footer > .inner > .section.third
    > .inner > .a
      height 0px
  .footer > .inner > .section.newsletter
    padding 0px
    float none
    clear both
  .footer > .inner > .section.newsletter > .inner
    padding 0 20px
    > .icons
      text-align center
      margin 20px 0
      > .icon
        display inline-block
        float none

.manifesto
  position fixed
  left 0
  z-index 200
  width 100%
  height 100%
  background-color: c.black1
  color: c.white1
  font f_h3m
  text-align left
  animation appear 0.5s linear both
  &.on
    display block
  &.off
    display none
  > .inner
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background linear-gradient(54deg, #0195ff, #f1455b, #434965, #7582b1);
    background-size 400% 400%
    animation gradients 41s ease infinite;
    > .close
      float right
      padding 20px 20px
      cursor pointer
      transition transform 0.1s linear
      &:hover
        transform rotate(90deg)
    > .content
      position relative
      overflow hidden
      height 5000px
      desktop()
      z-index 250
      > .inner > p.f_hm
        font f_hm
      > .inner
        position absolute
        top 0
        left 0
        width 100%
        height 5000px
        z-index 250
	      animation scrolling 40s ease-out 0.5s both

@keyframes appear
  0%
    opacity 0
  100%
    opacity 1 

@keyframes gradients
  0%
    background-position 0% 14%
  50%
    background-position 100% 87%
  100%
    background-position 0% 14%

@keyframes scrolling
  0%
    top 95%
  100%
    top -170%
