@keyframes cellInY
  from
    transform translate(0, 10px)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1


@keyframes cellInX
  from
    transform translate(10px, 0)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1

@keyframes cellOutY
  from
    transform translate(0, -10px)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1


@keyframes cellOutX
  from
    transform translate(-10px, 0)
    opacity 0
  to
    transform translate(0, 0)
    opacity 1


