
.menu
  &.on
    display block
  &.off
    display none
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color: rgba(c.blue3, 0.9)
  z-index 100
  > .inner
    position relative
    width 100%
    height 100%
    > .options
      position absolute
      top 50%
      left 0
      margin-top -220px
      width 100%
      height 440px
      > .option
        position relative
        cursor pointer
        font f_h1
        text-align center
        text-transform uppercase
        &.active > .line
          position absolute
          top 50%
          left 50%
          height 6px
          background-color: c.red1
        &.active:nth-child(1) > .line
          width 230px
          margin -3px 0 0 -115px
          animation line1 0.2s ease-in-out
        &.active:nth-child(2) > .line
          width 260px
          margin -3px 0 0 -130px
          animation line2 0.2s ease-in-out
        &.active:nth-child(3) > .line
          width 220px
          margin -3px 0 0 -110px
          animation line3 0.2s ease-in-out
        &.active:nth-child(4) > .line
          width 380px
          margin -3px 0 0 -190px
          animation line4 0.2s ease-in-out

        color: c.white1
        &:hover
          color: c.red1
        transition color 0.1s linear
        animation cellInX 0.2s 0s ease-in both
        for num in 0..5
          &:nth-child({num})
            animation-delay unit(num*0.1, 's')


.top.fbar
  > .inner > .red1
    top 0
    height 60px
  > .inner > .astro
    top 15px
    left 20px
  > .inner > .burger
    top 15px
    right 15px

.top
  position fixed
  top 0
  left 0
  height 0
  width 100%
  z-index 100
  > .inner
    position relative
    > .red1
      position absolute
      top 20px
      left 0px
      height 51px
      background-color: c.red2
      width 71px
      transition all 0.1s linear
      transform-origin left
      &.on
        transform translate(0, 0)
        transition transform 0.2s ease-in-out 0.2s
        transform perspective(400px) rotateY(0deg)
      &.off
        transform translate(-71px, 0)
        transition transform 0.2s linear 0s
        transform perspective(400px) rotateY(90deg)

    > .astro
      overflow hidden
      position absolute
      top 30px
      left 30px
      height 35px
      transition all 0.1s linear
      &.off
        width 120px
      &.on
        width 29px
      > svg
        width 120px
        height 35px
      &.light
        > svg
          > g > path, > g > g > path
            fill: c.white1
      &.dark
        > svg
          > g > path, > g > g > path
            fill: c.black1

    > .phrase
      overflow hidden
      position absolute
      top 38px
      left 170px
      color: c.white1
      font f_copyls
      text-transform uppercase
      white-space nowrap
      transform-origin left
      > div
        display inline-block
        transform-origin left
        margin 0 0 0 2px
        animation charIn 0.5s 0s linear both
        for num in 0..60
          &:nth-child({num})
            animation-delay unit(num*0.02, 's')
      &.on
        display none
      &.off
        display block


    > .burger
      z-index 150
      user-select none
      cursor pointer
      position absolute
      top 30px
      right 30px
      width 35px
      height 35px
      overflow hidden
      transition all 0.1s linear
      &.off
        > .inner > .lines
          transform rotate(90deg)
        > .inner > .lines > .line
          background-color: c.red2
        > .inner > .lines > .line1
          transform translate(0px, 13px) rotate(45deg)
        > .inner > .lines > .line3
          transform translate(0px, -10px) rotate(-45deg)
        > .inner > .lines > .line2
          background-color transparent

      > .inner
        position relative
        width 35px
        height 35px
        > .lines
          position absolute
          top 0
          left 0
          width 35px
          height 35px
          transition transform 0.2s linear 0.2s
          > .line
            width 35px
            height 5px
            background-color: c.white1
            margin 0 0 7px 0
            transition transform 0.3s ease-out 0.2s, background-color 0.1s linear 0.2s
        > .lines.red
          > .line
            background-color: c.red2
            transform translate(40px, 0)
            transition transform 0.3s ease-out 0.1s
            &:nth-child(2)
              transition-delay 0.15s
            &:nth-child(3)
              transition-delay 0.2s
      &.on:hover
        > .inner > .lines.red > .line
          //transform translate(0, 0)
      &.on > .inner.on > .lines.red > .line
        transform translate(0, 0)

@keyframes line1
  from
    width 0px
  to
    width 230px

@keyframes line2
  from
    width 0px
  to
    width 260px

@keyframes line3
  from
    width 0px
  to
    width 220px

@keyframes line4
  from
    width 0px
  to
    width 380px
