
extends ../inc/layout

block variables
  - var rootdir = '../'

block content

  include ../inc/top

  .press
    .summary
      .hero
        .copy1 &nbsp;
        .copy2 Press Release

    .body
      .title Astro Intro
      .copy
        p Since launching in 1994, Astro Studios has been designing breakthrough products, brands and experiences at the intersection of technology and lifestyle.  
        p With one foot planted in San Francisco and the other firmly in the future, Astro’s design work is inspired by the relentless innovation of the Bay Area, the rebel spirit of the West Coast, and the limitless possibilities of the cosmos.
        p Astro’s work has ranged from shaving sets to virtual reality, touching tens of millions of people worldwide and helping elevate our clients’ businesses into the stratosphere.

      a.link.assets(href='/assets/') Astro Assets

      .contact
        .line For more informatino contact:
        .line Clare Nauman
        .line Marcom Manager
        a.line(href='mailto:clare@astrostudios.com') clare@astrostudios.com

      .title Press Releases
      .releases
        each i in [1,2,3,4,5]
          .release
            .thumbnail
              img(src='/img/press/vive.jpg')
            .title Vive
            .date 01.19.2016
            a.zip(href='/img/press/vive.zip') Download zip file 32MB

        .clear

  include ../inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/press.js', 'Press');
      Global.i()
    }

