
extends ../inc/layout

block variables
  - var rootdir = '../'

block content

  include ../inc/top

  .press
    .summary
      .hero
        .copy1 &nbsp;
        .copy2 Press Release

    .body
      .title Astro Intro
      .copy
        p Since launching in 1994, Astro Studios has been designing breakthrough products, brands and experiences at the intersection of technology and lifestyle.
        p With one foot planted in San Francisco and the other firmly in the future, Astro’s design work is inspired by the relentless innovation of the Bay Area, the rebel spirit of the West Coast, and the limitless possibilities of the cosmos.
        p Astro’s work has ranged from shaving sets to virtual reality, touching tens of millions of people worldwide and helping elevate our clients’ businesses into the stratosphere.

      a.link.assets(href='/assets/') Astro Assets
      .clear

      .contact
        .line For more informatino contact:
        .line Clare Nauman
        .line Marcom Manager
        a.line(href='mailto:clare@astrostudios.com') clare@astrostudios.com

      .title Press Releases
      .releases
        a.release(href='/img/press/3dr-fastco.zip')
          .thumbnail
            img(src='/img/press/3dr-fastco.jpg')
          .title 3DR Wins on FastCo IBD Awards
          .date 09.16.2016
          .zip Download zip file 12.2MB    
      
        a.release(href='/img/press/3drwin.zip')
          .thumbnail
            img(src='/img/press/3drwin.jpg')
          .title 3DR Wins IDEA Award
          .date 08.18.2016
          .zip Download zip file 6.5MB          

        a.release(href='/img/press/reyes.zip')
          .thumbnail
            img(src='/img/press/reyes.jpg')
          .title Reyes
          .date 08.04.2016
          .zip Download zip file 54.1MB                    

        a.release(href='/img/press/vive.zip')
          .thumbnail
            img(src='/img/press/vive.jpg')
          .title Vive
          .date 01.19.2016
          .zip Download zip file 45MB        
        
        a.release(href='/img/press/artofbasketball.zip')
          .thumbnail
            img(src='/img/press/artofbasketball.jpg')
          .title Art of Basketball
          .date 06.15.2016
          .zip Download zip file 43.5MB

        a.release(href='/img/press/3dr.zip')
          .thumbnail
            img(src='/img/press/3dr.jpg')
          .title 3DR
          .date 11.15.2015
          .zip Download zip file 16MB



        .clear

  include ../inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/press.js', 'Press');
      Global.i()
    }
