.footer
  .inner

    .section.first
      .inner
        .a
          include ../../pub/svg/a.svg
        .title ASTRO STUDIOS
        .info.address
          p 348 6th St
          p San Francisco, CA
          p 94103

    .section.second
      .inner
        .a &nbsp;
        .title CONTACT
        .info.number
          p (415) 487 6787
          a.p(href='mailto:info@astrostudios.com') info@astrostudios.com
          a.p(href='mailto:newbusiness@astrostudios.com') newbusiness@astrostudios.com

    .section.third
      .inner
        .a &nbsp;
        .title CAREERS
        .info.emails
          a.p(href='/about/index.html#careers') View open careers
   
    .section.newsletter
      .inner
        .a &nbsp;
        .title follow us
        //.input
          input(type='text',placeholder='Your email address')
        //.button.subscribe subscribe
        .clear
        .icons
          a.icon(href='http://www.facebook.com/astrostudios/',target='_new')
            include ../../pub/svg/facebook.svg
          a.icon(href='http://www.instagram.com/astrostudios/',target='_new')
            include ../../pub/svg/instagram.svg
          a.icon(href='http://www.twitter.com/astrostudios/',target='_new')
            include ../../pub/svg/twitter.svg
        .clear
      .clear

    .clear
    .copyright &copy;2015 AstroStudios. All Rights Reserved.
    .gravity
      .bolt
        include ../../pub/svg/bolt.svg
      .copy
        | FIGHT GRAVITY
        div ™
      .clear
    .clear

    .manifesto.off
      .inner
        .close &#10005;
        .content
          .inner
            p FIGHT GRAVITY!
            p Break free from the pull of the expected.
            p Push off your safety zone.
            p Pursue multi-dimensional solutions.
            p Design is a tangible vision.
            p A beautiful point of view with conviction.
            p A soulful solution.
            p Do good for other humans.
            p Respect your surroundings and resources.
            p Exchange value with another.
            p Light the candle.
            p Shake foundations.
            p Lift off!
