
mixin pimg(folder, image, padding)
  if padding == undefined || padding == ''
    - padding = 'both'
  .image(class='pad_' + padding)
    .img(style='background-image: url(../img/project/'+folder+'/1440/'+image+');')
    //img(src='../img/project/'+folder+'/'+image)

mixin youtube(id)
  .youtube
    iframe(
      width="800",
      height="450",
      src="https://www.youtube.com/embed/" + id,
      frameborder="0",
      allowfullscreen)
