.menu.off
  .inner
    .options
      .option WORK
        .line
      .option ABOUT
        .line
      .option BLOG
        .line
      .option CONTACT 
        .line

.top
  .inner
    .astro.light
      include ../../pub/svg/astro.svg
    .burger.on
      .inner
        .lines
          .line.line1
          .line.line2
          .line.line3
        .lines.red
          .line.line1
          .line.line2
          .line.line3

