
.menu.off
  .inner
    .options
      .option work
        .line
      .option about
        .line
      .option blog
        .line
      .option contact 
        .line

.top
  .inner
    .red1.off
      .svg
        include ../../pub/svg/astro.svg
    a.astro.off.light(href='/')
      include ../../pub/svg/astro.svg
    .phrase.on
    .burger.on
      .inner.off
        .lines
          .line.line1
          .line.line2
          .line.line3
        .lines.red
          .line.line1
          .line.line2
          .line.line3

