.top
  .inner
    .a
      include ../../pub/svg/a.svg
    .burger
      .inner
        .lines
          .line.line1
          .line.line2
          .line.line3
        .lines.red
          .line.line1
          .line.line2
          .line.line3

