.menu.off
  .inner
    .options
      .option work
        .line
      .option about
        .line
      .option blog
        .line
      .option contact 
        .line

.top
  .inner
    a.astro.light(href='/')
      include ../../pub/svg/astro.svg
    .burger.on
      .inner
        .lines
          .line.line1
          .line.line2
          .line.line3
        .lines.red
          .line.line1
          .line.line2
          .line.line3

