
.menu.off
  .inner
    .options
      .option work
        .line
      .option about
        .line
      .suboptions.off
        .option(data-url='/about/#capabilities') capabilities
          .line
        .option(data-url='/about/#process') process
          .line
        .option(data-url='/about/#clients') clients
          .line
        .option(data-url='/about/#studio') studio
          .line
        .option(data-url='/about/#careers') careers
          .line

      .option blog
        .line
      .option contact 
        .line

.top
  .inner
    a.astro.off.light(href='/')
      include ../../pub/svg/astro.svg
    a.red1.off(href='/')
      .svg
        include ../../pub/svg/astro.svg
    .phrase.on
    .burger.on
      .inner.off
        .lines
          .line.line1
          .line.line2
          .line.line3
        .lines.red
          .line.line1
          .line.line2
          .line.line3

