.space
+bimg(entry.folder, 'LA2_From_ACEGallery.jpg')
+bimg(entry.folder, 'LA3.jpg')

.title LA Art Show
.copy LA Convention Center<br>
 <a target='_new' href='http://www.laartshow.com'>www.laartshow.com</a>.

.space

.copy My travel started in LA at the same time as the LA Art Show. This exhibition had so much breadth that it was hard to take everything in, but as a designer my attention was drawn to form and sculpture.  There were a lot of pieces exhibited by the original artists from the Light and Space movement that stemmed out of Southern California in the 1960’s. The overall gestures of these pieces and the presence they held in the space was really inspiring, and the interplay between form and lighting was a great inspiration for its application in the work we do designing products.


.space
.space