.space
+bimg(entry.folder, 'LA2_From_ACEGallery.jpg')
.space
+bimg(entry.folder, 'LA3.jpg')

.copy <font size="5">LA Art Show</font><br>LA Convention Center <br><a target='_new' href='http://www.laartshow.com'>www.laartshow.com</a><br><br>My travel started in LA at the same time as the LA Art Show. This exhibition had so much breadth that it was hard to take everything in, but as a designer my attention was drawn to form and sculpture.  There were a lot of pieces exhibited by the original artists from the Light and Space movement that stemmed out of Southern California in the 1960’s. The overall gestures of these pieces and the presence they held in the space was really inspiring, and the interplay between form and lighting was a great inspiration for its application in the work we do designing products.

<hr>

.space
+bimg(entry.folder, 'Kehinde2.jpg')
.space
+bimg(entry.folder, 'Kehinde4.jpg')

.copy <font size="5">Kehinde Wiley</font><br>Seattle Art Museum <br><a target='_new' href='http://www.seattleartmuseum.org/wiley'>www.seattleartmuseum.org/wiley</a><br><br>Kehinde Wiley’s work is impressive on so many levels, from scale and detail to content. While his past work focused on celebrities and pop stars, Wiley’s newest works tries to reimagine and empower ordinary people of color. Done in the style of 18th century portraiture, these pieces were massive with ornate details and striking compositions. Alongside his paintings, Wiley had a mix of sculpture and stained glass installations that drew attention to the details of his work as well as help highlight his overall message. Definitely recommend popping in on this one if you find yourself in Seattle.

<hr>

.space
+bimg(entry.folder, 'Breakbread1.jpg')
.space
+bimg(entry.folder, 'Breakbread2.jpg')
.space
+bimg(entry.folder, 'Breakbread4.jpg')

.copy <font size="5">Break Bread/Baker's Son</font><br>Think Tank Gallery in LA <br><a target='_new' href='http://www.thinktankgallery.org/break-bread-press-release/'>www.thinktankgallery.org/break-bread-press-release</a><br><br>My favorite show by far was Break Bread, a joint art installation between Scott Hove and my friend Keith Magruder (Baker’s Son). The Think Take website describes the show best;  “a whimsical candyland with a dark twist, Break Bread is filled with floor-to-ceiling cake sculptures, cake chambers, and a nostalgic watercolor ice cream truck.” The space was a crazy mix of art, light, candy, and installations. The contrast between Keith’s watercolor and Scott’s cake based work meant there was always something eye-catching that kept me moving through the space.

<hr>

.space
+bimg(entry.folder, 'Corning1.jpg')
.space
+bimg(entry.folder, 'Corning4.jpg')

.copy <font size="5">Corning Museum of Glass</font><br>Corning, NY <br><a target='_new' href='http://www.cmog.org'>www.cmog.org</a><br><br>During a quick visit to the East Coast, I had the chance to check out the Corning Museum of Glass. My visit was brief, so I only glimpsed part of the museum’s extensive collection. They are world renowned for their comprehensive and celebrated glass collection, showing pieces from more than 3,500 years ago. The little time I did have was spent at the new Contemporary Art and Design wing. Not only is the glass collection amazing and inspiring, but the building itself is just as impressive, a stark flowing interior to contrast the colorful and delicate glass pieces. A beautiful space filled with beautiful work.


.space
.space