
+bimg(entry.folder, 'Artisans.jpg', 'pad_none')

+bimg(entry.folder, 'Designer-MarisolCenteno.jpg', 'pad_none')
 
+bimg(entry.folder, 'Loom.jpg', 'pad_none')

+bimg(entry.folder, 'Texture.jpg', 'pad_none')

