.space
+bimages(entry.folder, 'astrostudios_broad-02.jpg', 'astrostudios_broad-03.jpg', 'vert')

.copy The Broad has an impressive collection of influential artists from the 1950s to the present. The first floor featured present day artists with paintings and sculptures by Yayoi Kusama and Takashi Murakami. Perhaps my favorite thing there is Kusama's Infinity Room, a small mirror-lined room with hanging LED lights that seem endless. 

+bimages(entry.folder, 'astrostudios_broad-04.jpg', 'astrostudios_broad-05.jpg', 'vert')
.space
+bimages(entry.folder, 'astrostudios_broad-06.jpg', 'astrostudios_broad-07.jpg', 'vert')
.copy The installation continues on the third floor with works from the 50’s including Jasper Johns, the 60’s: Roy Lichtenstein, Ed Ruscha, Andy Warhol, and the 80’s represented by Jean-Michel Basquiat and Jeff Koons amongst others.
.space
+bimg(entry.folder, 'astrostudios_broad-08.jpg')
.space
+bimages(entry.folder, 'astrostudios_broad-09.jpg', 'astrostudios_broad-10.jpg', 'vert')
.space
+bimages(entry.folder, 'astrostudios_broad-11.jpg', 'astrostudios_broad-12.jpg', 'vert')
.space
+bimg(entry.folder, 'astrostudios_broad-13.jpg')
