.space
+bimg(entry.folder, 'calligraffiti-6.jpg')
.space
+bimg(entry.folder, 'calligraffiti-7.jpg')
.copy <font size="2">Niels "Shoe" Meulman</font>
.space
+bimg(entry.folder, 'calligraffiti-8.jpg')
.space
+bimg(entry.folder, 'calligraffiti-3.jpg')
.space
.space
+bimg(entry.folder, 'calligraffiti-9.jpg')
.space
+bimg(entry.folder, 'calligraffiti-4.jpg')
.space
+bimg(entry.folder, 'calligraffiti-2.jpg')
.space
+bimg(entry.folder, 'calligraffiti-5.jpg')
.space
+bimg(entry.folder, 'calligraffiti-1.jpg')
.copy <font size="2">Pokras Lampas</font>
.space