.space
+bimg(entry.folder, 'astro_ch_07.jpg')
.space
+bimg(entry.folder, 'astro_ch_06.jpg')
.space
+bimg(entry.folder, 'astro_ch_05.jpg')
.space
+bimg(entry.folder, 'astro_ch_04.jpg')
.space
+bimg(entry.folder, 'astro_ch_02.jpg')
.space
+bimg(entry.folder, 'astro_ch_03.jpg')
.space
+bimg(entry.folder, 'astro_ch_01.jpg')