.space
+bimg(entry.folder, 'minus8_diver_front_black.gif')
.space
+bimg(entry.folder, 'minus8_colors.jpg')
.space
+bimg(entry.folder, 'minus8_side.jpg')
.space
+bimg(entry.folder, 'minus8_fearlesly.jpg')
.space
+bimg(entry.folder, 'minus8_style_pair.jpg')
.space
+bimg(entry.folder, 'minus8_machine.jpg')
.space
+bimg(entry.folder, 'minus8_nature.jpg')
.space
+bimg(entry.folder, 'minus8_surroundings.jpg')
.space
+bimg(entry.folder, 'minus8_true-hybrid.jpg')
