//.space
//+bimg(entry.folder, '2.jpg')
.space
+bimg(entry.folder, '3.jpg')
.space
+bimages(entry.folder, '4l.jpg', '4r.jpg', 'vert2')
.space
+bimages(entry.folder, '5l.jpg', '5r.jpg', 'vert2')
.space
+bimg(entry.folder, '6.jpg')
.space
+bimg(entry.folder, '7.jpg')
.space
+bimages(entry.folder, '8l.jpg', '8r.jpg', 'vert2')
.space
+bimg(entry.folder, '9.jpg')
