
+pimg(entry.folder, 'Nike-FuelBand-Astro.png', 'bottom')

.copy The Nike+ Fuelband's design is inspired by the active lifestyle it encourages.  A soft, sport-inspired, outer skin is designed for lasting comfort under toughest athletic tests.

+pimg(entry.folder, 'Process_LEDType.png')

+pimg(entry.folder, 'Process_UserFlow.png')

.copy The interaction design on the Fuelband was designed to inspire wearers to be active by rewarding them with motivational messages and a running tally of their fuel points running across a delightful dead-front display and fuel gauge.

+pimg(entry.folder, 'nikefuelband-limited-edition-gold.png')

.copy One of the earliest expressions of the quantified self movement, we designed the Nike+ Fuelband to have refined, unisex aesthetic that made it one of the first wearables to be both fashionable and funcitonal.  Expanded editions included Fuelbands made with gold, silver, and a range of active colors.

+pimg(entry.folder, 'USB_docking_edit.png', 'top')
+pimg(entry.folder, 'Fuelbands.png', 'bottom')

.copy The final result was a product with an iconic form and a totally original experience that inspired desire in millions of active people and helped ignite the fitness tracker trend.

+pimg(entry.folder, 'Fuelband_Lifestyle.png')
 
