+bimg(entry.folder, 'murder_02.jpg')
.space
+bimg(entry.folder, 'murder_03.jpg')
.space
+bimg(entry.folder, 'crew.jpg')
.space
+bimg(entry.folder, 'foosball_01.jpg')
.space
+bimg(entry.folder, 'foosball_02.jpg')
.space
+bimg(entry.folder, 'foosball.gif')
.space
+bimg(entry.folder, 'gilligan_02.jpg')
.space
+bimg(entry.folder, 'gilligan_01.jpg')
.space
+bimg(entry.folder, 'robber_01.jpg')
.space
+bimg(entry.folder, 'robber_02.jpg')
.space
+bimg(entry.folder, 'robber_03.jpg')
.space
+bimg(entry.folder, 'robber2_01.jpg')
.space
+bimg(entry.folder, 'strangerthings_01.jpg')
.space
+bimg(entry.folder, 'strangerthings_02.jpg')
.space
+bimg(entry.folder, 'strangerthings_03.jpg')
.space
+bimg(entry.folder, 'combo_profile_01.jpg')
.space
+bimg(entry.folder, 'combo_profile_02.jpg')
.space
+bimg(entry.folder, 'combo_profile_03.jpg')
.space

.copy While we all brought our A game, we brought the decision of best costume to a vote. The winners were the Foosball people, who arrived at our staff meeting that morning shuffling sideways together in their custom made Foos-suits. Naturally, they were all on our ID team. Nice job to our winners, and Happy Halloween!
