.space
+bimages(entry.folder, '2_holzherr.jpg', '03-roden.jpg', 'vert')
.space
+bimages(entry.folder, 'craters-eye2.jpg', 'eastportal_evening.jpg', 'vert')
.space
+bimg(entry.folder, 'conjunctionb.jpg')
.space
+bimages(entry.folder, 'img_door.jpg', 'img_door2.jpg', 'vert')
.space
+bimages(entry.folder, 'roden.jpg', 'southspace.jpg', 'vert')
.space
+bimg(entry.folder, 'rodencrater.jpg')
.space
+bimg(entry.folder, 'crater_bowl.jpg')