.space
+bimg(entry.folder, 'letterform-08.jpg', 'vert')
.space
+bimg(entry.folder, 'letterform-05.jpg')
.space
+bimg(entry.folder, 'letterform-04.jpg')
.space
+bimg(entry.folder, 'letterform-03.jpg')
.space
+bimg(entry.folder, 'letterform-06.jpg')
.space
+bimg(entry.folder, 'letterform-01.jpg')
.space
+bimg(entry.folder, 'letterform-02.jpg')
.space
+bimg(entry.folder, 'letterform-07.jpg')
