
+bimg(entry.folder, 'colors.png', 'pad_none')
+bimg(entry.folder, 'badges.png', 'pad_none')

+bimages(entry.folder, 'logos.png', 'logos2.png')

+bimg(entry.folder, 'outfits.png')
+bimg(entry.folder, 'plans.png')

