.space
+bimg(entry.folder, 'img_3992.jpg')
.space
+bimages(entry.folder, 'img_4007.jpg', 'img_4008.jpg', 'vert')
.space
+bimg(entry.folder, 'img_3996.jpg')
.space
+bimages(entry.folder, 'img_4015.jpg', 'img_3990.jpg', 'vert')
