.copy Project 1: United Stats of America created by <a href="http://andreaskoller.com/" target="_new">Andrea Skoller</a>
+bimg(entry.folder, 'project-1a.jpg')
.space
+bimg(entry.folder, 'project-1b.jpg')
.space
+bimg(entry.folder, 'project-1c.jpg')
.space
<hr>
.copy Project 2: Being Not Truthful created by <a href="http://www.ralphammer.de/" target="_new">Ralph Ammer</a> and <a href="http://sagmeisterwalsh.com/" target="_new">Stefan Sagmeister</a>
.space
+bimg(entry.folder, 'project-2a.jpg')
.space
+bimg(entry.folder, 'project-2b.jpg')
.space
+bimg(entry.folder, 'project-2c.jpg')
.space
<hr>
.copy Project 3: Pathfinder created by <a href="http://onformative.com/work/" target="_new">Onformative</a>
.space
+bimg(entry.folder, 'project-3a.jpg')
.space
+bimg(entry.folder, 'project-3b.jpg')
.space
+bimg(entry.folder, 'project-3c.jpg')
.space
<hr>
.copy Project 4: Anima Iki created by <a href="http://onformative.com/work/" target="_new">Onformative</a>
.space
+bimg(entry.folder, 'project-4a.jpg')
.space
+bimg(entry.folder, 'project-4b.jpg')
.space
+bimg(entry.folder, 'project-4c.jpg')
