.space
+bimg(entry.folder, '1.jpg')
.space
+bimg(entry.folder, '2.jpg')
.space
+bimages(entry.folder, '3A.jpg', '3B.jpg')
.space
+bimages(entry.folder, '4A.jpg', '4B.jpg')
.space
+bimages(entry.folder, '5A.jpg', '5B.jpg')
.space
+bimg(entry.folder, '6.jpg')
