.embed: .inner
  iframe.iframe(src="https://player.vimeo.com/video/157243685", width="100%", height="60%", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)


.copy Most of our crew will probably remember the snowy peaks atop Heaveny, but I’m not sure what I’ll remember most. Will I remember the snow, the fish tacos, pool sharking, relaxing, hiking, thrift shopping, or the persistent rash on my leg from the hot tub? I guess it doesn’t really matter, it seems I’m set to remember it all. <a href="https://www.instagram.com/explore/tags/snowisdope/" target=blank>#snowisdope</a>

+bimages(entry.folder, 'electricsarah.jpg', 'groupshot.jpg', 'vert')
.space
+bimages(entry.folder, 'IMG_5895.JPG', 'IMG_5896.JPG', 'vert')
.space
+bimg(entry.folder, 'IMG_5945.JPG')
.space
+bimg(entry.folder, 'IMG_5923-lighter.JPG')
.space
+bimg(entry.folder, 'IMG_5960.JPG')
.space
+bimg(entry.folder, 'IMG_5980.JPG')
.space
+bimg(entry.folder, 'Jess_Snowangel.jpeg')
