.space
+bimg(entry.folder, 'swinestudio-11.jpg')
.space
+bimg(entry.folder, 'swinestudio-13.jpg')
.space
+bimg(entry.folder, 'swinestudio-12.jpg')
.space
+bimages(entry.folder, 'swinestudio-5.jpg', 'swinestudio-6.jpg', 'vert')
.space
+bimg(entry.folder, 'swinestudio-1.jpg')
.space
+bimg(entry.folder, 'swinestudio-2.jpg')
.space
+bimg(entry.folder, 'swinestudio-3.jpg')
.space
+bimg(entry.folder, 'swinestudio-21.jpg')
.space
+bimg(entry.folder, 'swinestudio-7.jpg')
.space
+bimg(entry.folder, 'swinestudio-8.jpg')
.space
+bimg(entry.folder, 'swinestudio-10.jpg')
.space
+bimg(entry.folder, 'swinestudio-9.jpg')
.space
+bimages(entry.folder, 'swinestudio-17.jpg', 'swinestudio-18.jpg', 'vert')
.space
+bimg(entry.folder, 'swinestudio-22.jpg')
.space
+bimg(entry.folder, 'swinestudio-20.jpg')
.space
+bimages(entry.folder, 'swinestudio-14.jpg', 'swinestudio-15.jpg', 'vert')
.space
+bimages(entry.folder, 'swinestudio-23.jpg', 'swinestudio-19.jpg', 'vert')
.space
+bimg(entry.folder, 'swinestudio-16.jpg')
