.space
+bimages(entry.folder, 'astro_gsw.jpg', 'astro_lakers.jpg', 'vert')
.space
+bimg(entry.folder, 'astro_bulls.jpg')
.space
+bimg(entry.folder, 'astro_people1.jpg')
.space
+bimages(entry.folder, 'astro_net.jpg', 'astro_people8.jpg', 'vert')
.space
+bimg(entry.folder, 'astro_swag.jpg')
.space
+bimg(entry.folder, 'astro_people3.jpg')
.space
+bimg(entry.folder, 'astro_people4.jpg')
.space
+bimg(entry.folder, 'astro_people5.jpg')
.space
+bimg(entry.folder, 'astro_people6.jpg')
.space
+bimg(entry.folder, 'astro_people7.jpg')
.space
+bimg(entry.folder, 'astro_pins.jpg')
.space
+bimg(entry.folder, 'astro_people2.jpg')
.space