.space
+bimg(entry.folder, '02_astrostudios_tshirts.jpg')
.space
+bimg(entry.folder, '03_astrostudios_tshirts.jpg')
.space
+bimg(entry.folder, '04_astrostudios_tshirts.jpg')
.space
+bimg(entry.folder, '05_astrostudios_tshirts.jpg')
.space
+bimg(entry.folder, '06_astrostudios_pins.jpg')
.space
+bimg(entry.folder, '07_astrostudios_pins.jpg')
.space
+bimg(entry.folder, '08_astrostudios_basketball2.jpg')
.space
+bimg(entry.folder, '09_astrostudios_tshirts.jpg')
