
+bimg(entry.folder, 'faceblack.png')

+bimages(entry.folder, 'twoshots.png', 'faceorange.png')

+bimg(entry.folder, 'side1.png')

+bimages(entry.folder, 'faceorangewhite.png', 'back.png')
+bimages(entry.folder, 'side2.png', 'faceyellow.png')

