.space
+bimages(entry.folder, 'drawing.jpg', 'wigle.jpg')

+bimg(entry.folder, 'outline.jpg')

+bimg(entry.folder, 'detail.jpg')

.copy At Astro we love the quick vibrant color because we want it FUN! We are so glad Malcolm took to the airbrush, because now we have these KILLER dodgeball t-shirts.  Check out more of Malcolm's work here and follow him on <a href="https://instagram.com/malcolmstuart/">Instagram!</a>

+bimages(entry.folder, 'sidebyside.jpg', 'complete.jpg')

+bimg(entry.folder, 'spray.jpg')
