<hr>

.copy <a target='_new' href='http://www.luxepacknewyork.com/'>LUXE PACK</a><br><br>LUXE PACK was an exciting time to see what new innovations were on the market in packaging structure, paper materials, sustainability, and vendor availability. One popular trend we noticed was eco-friendly packaging and becoming more accessible and available in a wide range of luxury materials. Unique unboxing experiences were also creating a better presentation for the product and a memorable approach for the consumer. Paper printing techniques such as hot and cold foiling were also making an impact. <a target='_new' href='http://www.whipsmart.net/'>Whipsmart</a> had some beautiful simple packaging examples for Helmet Lang’s perfume on display that showed a hollow frame within the structure to cut down on cost and weight. While <a target='_new' href='https://www.mohawkconnects.com/'>Mohawks collaboration</a> with Conqueror was a favorite among the designers. They presented a very unique way of displaying their paper through printed material, books, and labels.

+bimg(entry.folder, 'luxe-01-pack.jpg')
.space
+bimages(entry.folder, 'luxe-02-display.jpg', 'luxe-03-kylie.jpg', 'vert')
.space
+bimages(entry.folder, 'luxe-04-helmet2.jpg', 'luxe-05-helmet1.jpg', 'vert')
.space
+bimg(entry.folder, 'luxe-06-paper.jpg')
.space

<hr>

.copy <a target='_new' href='http://www.icff.com/'>ICFF</a><br><br>ICFF remains the focal point of NYC design week, and the show reflected that status. Industry neophytes and giants alike shared their visions for the next year in furniture and home goods. A strong flavor of minimalism and primitive forms remained throughout, but we noticed a movement towards earthy and muted tones. One of our personal favorites from this show was the innovative and playful silicone rug collection <a target='_new' href='http://www.shorerugs.com/'>Shore</a> in London, and the the Bay area agency scene was represented via Branch’s Drift Stool in collaboration with <a target='_new' href='http://www.councildesign.com/'>Council</a>.

+bimg(entry.folder, 'icff-00-shore.jpg')
<font size="3">Image from Shore website</font>
.space
+bimg(entry.folder, 'icff-01-chairsilo.jpg')
.space
+bimages(entry.folder, 'icff-02-chairs.jpg', 'icff-03-roundlight.jpg', 'vert')
.space
+bimages(entry.folder, 'icff-04-dare.jpg', 'icff-05-lights.jpg', 'vert')
.space
+bimages(entry.folder, 'icff-06-pablo.jpg', 'icff-07-rug.jpg', 'vert')
.space
+bimages(entry.folder, 'icff-08-good.jpg', 'icff-09-umbra.jpg', 'vert')
.space
+bimg(entry.folder, 'icff-10-crazy.jpg')
.space
+bimg(entry.folder, 'icff-11-barcelona.jpg')
.space
+bimages(entry.folder, 'icff-12-yield.jpg', 'icff-13-table.jpg', 'vert')
.space
+bimg(entry.folder, 'icff-14-stickbulb.jpg')
.space
+bimg(entry.folder, 'icff-15-weavedlights.jpg')
.space

<hr>

.copy <a target='_new' href='http://http://www.wanteddesignnyc.com/'>Wanted Design</a><br><br>Located in the middle of Chelsea was the Wanted Design exhibit. It was a mixing pot of young designers and innovators showcasing their work from countries around the world. One artist representing France was <a target='_new' href='http://www.myriammaxo.com/'>Myriam Maxo</a> who’s vibrant collection of patterns were inspired by her cultural and ethnic background. Walking through the tunnel you can see that the show is split into these international regions and that there is an overall feeling of unity within the design community. For example, <a target='_new' href='http://andreasbergsaker.com/'>Andreas Bergsaker’s</a> work shows a beautiful, handcrafted, and minimal approach to simple structures which seemed to be a theme throughout. 

+bimg(entry.folder, 'wanted-01-bears.jpg')
.space
+bimg(entry.folder, 'wanted-02-few.jpg')
.space
+bimg(entry.folder, 'wanted-03-chair.jpg')
.space
+bimg(entry.folder, 'wanted-04-weaved.jpg')
.space
+bimg(entry.folder, 'wanted-05-mirror.jpg')
.space

<hr>

.copy <a target='_new' href='http://www.sightunseen.com/'>Sight Unseen</a><br><br>Located on the 16th floor of the Grace Building, the Sight Unseen offsite was a welcome respite from the traditional trade show locale. With a focus on smaller and more craft focused studios this show saw a push towards bold blocky patterning and ethereal gradients. Many of the exhibitors were also the manufacturers, creating small runs of limited furniture, home goods, or textile lines. <a target='_new' href='http://www.germansermics.com/'>Germans Merics</a> gradient glass pieces were one of the show’s standouts, as was <a target='_new' href='http://www.shakerdesignproject.com/'>Furnishing Utopia</a>, a collaboration between 12 international designers seeking to bring the ideals and aesthetics of Shaker furniture into contemporary life.

+bimages(entry.folder, 'sight-01-glass.jpg', 'sight-02-purple.jpg', 'vert')
.space
+bimages(entry.folder, 'sight-03-gradient.jpg', 'sight-04-purpletable.jpg', 'vert')
.space
+bimages(entry.folder, 'sight-05-lights.jpg', 'sight-06-shapes.jpg', 'vert')
.space
+bimages(entry.folder, 'sight-07-bowls.jpg', 'sight-08-rugs.jpg', 'vert')
.space
+bimg(entry.folder, 'sight-09-wallpaper.jpg')
.space
+bimg(entry.folder, 'sight-10-bryant.jpg')
.space
.space
