extends ../inc/layout

block variables
  - var rootdir = '../'

block content
  include ../inc/top

  .guide

    .sections
      .section.colors
        .title Colors
        each color, name in data.colors
          .color(class='color_'+name) #{name} (#{color})
      .section.fonts
        .title Fonts

        .font.font_f_copy f_copy 18px aktivgrotesk light
        .font.font_f_copys f_copys 14px aktivgrotesk light
        .font.font_f_copysb f_copysb 14px blenderpro book
        .font.font_f_copyn f_copyn 18px aktivgrotesk normal
        .font.font_f_copyb f_copyb 18px aktivgrotesk bold
        .font.font_f_copyl f_copyl 20px blenderpro medium
        .font.font_f_copyls f_copyls 18px blenderpro medium

        .font.font_f_h1 f_h1 92px blenderpro book
        .font.font_f_h2 f_h2 50px blenderpro book
        .font.font_f_h3 f_h3 40px blenderpro book
        .font.font_f_h4 f_h4 36px blenderpro book
        .font.font_f_h5 f_h5 28px blenderpro book
      .clear

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/guide.js', 'Guide');
    }

