.block
  .inner
    .copy OPPORTUNITIES GALORE
    .scopy Under opportunities galore, update copy to: We’re on an Interstellar Space Odyssey for people with The Right Stuff. Don't be a stranger, make contact.
.jobs

.apply
  .copy Don't see a position that fits? E-mail us at <a href='mailto:jobs@astrostudios.com'>jobs@astrostudios.com </a>
