.block
  .inner
    .copy OPPORTUNITIES GALORE
    .scopy We live with 3D printers, an art gallery, workshops, skunkworks, hobos in the alley, etc.  Blah blah filler, Helens copy.  See all our open positions below.
.jobs

