.block
  .inner
    .copy WE LOVE OUR CLIENTS
 
.engage
  .title WAYS TO ENGAGE
  .ways
    each way, number in data.about.engage
      .way
        .title <span>_</span>#{way.title}
        .copy=way.copy
        .example
          a(href='/work/#' + way.project.folder) + #{way.project.name}

.clients
  each client in data.clients
    .client
      .inner(style='background-image: url("/img/about/clients/' + client + '");')
  .clear
