
extends ../inc/layout

block variables
  - var rootdir = '../'

block content

  include ../inc/top

  .about
    .banner
      .copy We create stuff people love.
    .fcontainer
      .filters
        .inner
          .filtermenu
            each filter in data.about.sections
              if filter == data.about.sections[0]
                .filter.on(class='filter_' + filter) #{filter}
              else
                .filter(class='filter_' + filter) #{filter}
          .clear
    .block
      .inner
        .copy DESIGN. TECHNOLOGY. LIFESTYLE. <br />We create brands, products, experiences and sometimes we wrap them all together to create new companies.
      .clear
    .sections
      .section.section_capabilities.on
        include section_capabilities
      .section.section_clients.off
        include section_clients
      .section.section_studio.off
        include section_studio
    
  include ../inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/about.js', 'About');
      Global.i()
    }

