
extends ../inc/layout

block variables
  - var rootdir = '../'

block content

  include ../inc/top

  .about
    .banner
      .copy We create stuff people love.
    .fcontainer
      .filters
        .inner
          .filtermenu
            each filter in data.about.sections
              if filter == 'clients'
                .filter.on(class='filter_' + filter) #{filter}
              else
                .filter(class='filter_' + filter) #{filter}
          .clear
    .sections
      .section.section_capabilities.off
        include capabilities
      .section.section_process.off
        include process
      .section.section_clients.on
        include clients
      .section.section_studio.off
        include studio
    
  include ../inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/about.js', 'About');
      Global.i()
    }

