
extends ../inc/layout

block variables
  - var rootdir = '../'

block content

  include ../inc/top

  .about
    .banner
      video(width='100%',height='100%',autoplay,loop,poster='/vid/poster.jpg')
        source(src='/vid/loop.mp4',type='video/mp4')
      .bg
      .copy We create stuff people love.
    .fcontainer
      .filters
        .inner
          .filtermenu
            each filter in data.about.sections
              if filter == 'capabilities'
                .filter.on(class='filter_' + filter) #{filter}
              else
                .filter(class='filter_' + filter) #{filter}
          .clear
    .sections
      .section.section_capabilities.on
        include capabilities
      .section.section_process.off
        include process
      .section.section_clients.off
        include clients
      .section.section_studio.off
        include studio
      .section.section_careers.off
        include careers
    
  include ../inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/about.js', 'About');
      Global.i()


    }

