.capcenter
  .capmenu
    .cap.on holistic
    .cap.off strategy
    .cap.off brand
    .cap.off product
    .cap.off digital
  .descs

    .desc.on.desc_holistic
      .keywords 
      .title HOLISTIC
      .copy ASTRO defines, designs and deploys new brands, products and companies. Centered in design talent and surrounded by tech, tools, and experience, ASTRO approaches design as a holistic process that develops fully branded, retail ready products and experiences.

    .desc.off.desc_strategy
      .keywords Insights, Opportunities, Research, Roadmaps, Audits, Profiles
      .title STRATEGY
      .copy ASTRO’s strategy team collaborates with partners at a project’s inception–asking questions, collecting info, and defining goals, allowing us to develop a strong point of view upon which to build.

    .desc.off.desc_brand
      .keywords Graphic Design, Positioning, Naming, Identity, Packaging, Digital Presence, Web, Mobile
      .title BRAND
      .copy ASTRO’s brand communications team blends design expertise, digital savvy, and market insights to create soulful identities and systems that create desire and cultural disruption around the world.

    .desc.off.desc_product
      .keywords Industrial Design, User Experience, User Interface, Modeling, Prototyping, Commercialization
      .title PRODUCT
      .copy ASTRO’s product team combines industrial design, a keen sense of aesthetics, technological expertise, and real-world experience to create innovative products that function skillfully, exist beautifully, define markets, and inspire popular culture.

    .desc.off.desc_digital
      .keywords Experience Design, User Experience, User Interface, Storyboarding, Animation, Video
      .title DIGITAL
      .copy ASTRO’s digital team deploys digital design skills and visualization tools to create innovative experiences that span the gulf between the digital and physical worlds, information and interaction—through time and space.
    .clear

  .clear

.blocks
  .title All Missions Possible
  .blurb
    p ASTRO lives in San Francisco, on the fringe of Silicon Valley, where we embrace a design approach that blends lifestyle and technology into relevant, high-performance results.
    p Our approach has enabled us to help our clients and partners transform markets, define pop culture, and generate billions in new revenue.
    p We’ve also collaborated with founders to co-create new companies—and launched, funded, and fueled a few of our own along the way.
    p For over 20 years, our deeper, entrepreneurial approach has paid dividends beyond our wildest imagination and now informs us as we continuously design what’s next.

  .clear
  .block.left.block_copy
    .inner
      .title Consulting
      .copy Based upon an agreed scope of work, ASTRO will work strategically toward an inspiring solution. Every project is unique, but our process will be grounded in our ASTRO 5D Process to create the best results. Check out our WORK section for examples of what we’ve consistently delivered for our global clientele.

  .block.right.block_project.project_fuelband(style='background-image: url("/img/project/fuelband/1440/Fuelbands.png");')
    .inner
      .copy
        .name Nike Fuelband
        .filters product / digital
  .clear
  .block.left.block_project.project_sol(style='background-image: url("/img/project/sol/banner.jpg");')
    .inner
      .copy
        .name SOL Republic
        .filters holistic / strategy / brand / product
  .block.left.block_copy
    .inner
      .title Co - Creation
      .copy ASTRO loves co-creating with entrepreneurs across a wide spectrum of businesses. We’ve lived the company creation dream too, so we understand the drive to build something from scratch. We often work in alternative compensation paths to enable new ventures. Some of our top co-creations are: Sol Republic, Boxee TV, Nebula, Ooma, Senselabs, and, Zuli. 
  .clear
  .block.left.block_copy
    .inner
      .title Origination
      .copy We love defining, designing and deploying our own big ideas. We’ve used our skills to define, design and develop companies including ASTRO Gaming (sold to Skullcandy) and MINUS-8 watches.
  .block.right.block_project.project_goggle(style='background-image: url("/img/project/goggle/1440/Lifestyle_banner.jpg");')
    .inner
      .copy
        .name Electric Goggle
        .filters product 
  .clear

  .title ASTRO's 5D PROCESS
  .clear
  .blurb
    p ASTRO’s proven 5-stage design process is powered by our special blend of insights, tools and talent. Through design, we attempt to unify the dimensional relationships of time and space around the brands, products, and experiences we create.

.fived
  .fivedmenu
    .item.on
      .copy
        .num 01
        .name dialog
    .item.off
      .copy
        .num 02
        .name define
    .item.off
      .copy
        .num 03
        .name design
    .item.off
      .copy
        .num 04
        .name develop
    .item.off
      .copy
        .num 05
        .name deploy
  .clear
  .bodys
    .body.body_dialog.on
      .inner
        .image
          .inner(style='background-image: url("/img/about/5d_dialog.png");')
        .copy
          .title DIALOG
          p We meet and discuss the goals, parameters and opportunities of the project, in order to craft the program and identify the best internal and network resources required for a successful outcome.
          p Activities may include meeting, brainstorming, networking, technology reviews, and proposals.
      .clear
    .body.body_define.off
      .inner
        .image
          .inner(style='background-image: url("/img/about/5d_define.png");')
        .copy
          .title DEFINE
          p As we begin the design work, ASTRO will create a strong point-of-view by immersing our team in relevant data from clients, competitors, market insights, and usage models to fuel the design process.
          p Activities may include research, demographics, audits, technology reviews, user profiles & use scenarios, engineering & manufacturing reviews.
      .clear
    .body.body_design.off
      .inner
        .image
          .inner(style='background-image: url("/img/about/5d_design.png");')
        .copy
          .title DESIGN
          p Using the fuel from the Define phase, ASTRO creates a range of concepts that explore the design and innovation potential by using a range of communication and design tools over a number of collaborative review sessions.
          p Activities may include a range 2D & 3D storyboards, illustrations, CAD models, physical models & prototypes.
      .clear
    .body.body_develop.off
      .inner
        .image
          .inner(style='background-image: url("/img/about/5d_develop.png");')
        .copy
          .title DEVELOP
          p Often overlapping with Design phase, ASTRO collaborates with implementation resources like engineering, manufacturing, printing, and coding, to guide and subsequently transfer the chosen direction into production.
          p Activities may include 2D/3D CAD development, color, materials & finishes specification files, packaging, out-of-box experiences, UI/UX refinement and interaction guidance.
      .clear
    .body.body_deploy.off
      .inner
        .image
          .inner(style='background-image: url("/img/about/5d_deploy.png");')
        .copy
          .title DEPLOY
          p ASTRO helps advocate and realize the original vision of the program into full commercialization mode with chosen resources and partners.
          p Activities might include part, product or print reviews, manufacturer visits, sales, advertising or retail support.
      .clear
  .clear

