
.blocks
  .title All Missions Possible
  .blurb
    p ASTRO lives in San Francisco, on the fringe of Silicon Valley, where we embrace a design approach that blends lifestyle and technology into relevant, high-performance results.
    p Our approach has enabled us to help our clients and partners transform markets, define pop culture, and generate billions in new revenue.
    p We’ve also collaborated with founders to co-create new companies—and launched, funded, and fueled a few of our own along the way.
    p For over 20 years, our deeper, entrepreneurial approach has paid dividends beyond our wildest imagination and now informs us as we continuously design what’s next.

  .clear

.hsbpd
  .slide.slide_h.on
    .char H
    .title _HOLISTIC
    .clear
    .copy ASTRO defines, designs and deploys new brands, products and companies.  Centered in design talent and surrounded by tech, tools, and experience, ASTRO approaches design as a holistic process that developers fully branded, retail ready products and experiences.
  .slide.slide_s.off
    .char S
    .title _STRATEGY
    .clear
    .copy ASTRO's strategy team collaborates with partners at a project's inception-asking questions, collecting info, and defining goals, allowing us to develop a strong point of view upon which to build.
  .slide.slide_b.off
    .char B
    .title _BRAND
    .clear
    .copy ASTRO's brand communications team blends design expertise, digital savvy, and market insights to create soulful identities and systems that create desire and cultural disruption around the world.
  .slide.slide_p.off
    .char P
    .title _PRODUCT
    .clear
    .copy ASTRO's product team combines industrial design, a keen sense of aesthetics, technological expertise, and real-world experience to create innovative products that function skillfully, exist beautifully, define markets, and inspire popular culture.
  .slide.slide_d.off
    .char D
    .title _DIGITAL
    .clear
    .copy ASTRO's digital team deploys digital design skills and visualization tools to create innovative experiences that span the gulf between the digital and physical worlds, information and interaction - through time and space.

  .dots
    each section in data.about.hsbpd
      if section == 'holistic'
        .dot.on(data-section=section)
          .dot
          .copy=section
          .clear
      else
        .dot.off(data-section=section)
          .dot
          .copy=section
          .clear

.fived
  .fivedmenu
    .item.on
      .copy
        .num 01
        .name dialog
    .item.off
      .copy
        .num 02
        .name define
    .item.off
      .copy
        .num 03
        .name design
    .item.off
      .copy
        .num 04
        .name develop
    .item.off
      .copy
        .num 05
        .name deploy
  .clear
  .bodys
    .body.body_dialog.on
      .inner
        .image
          .inner(style='background-image: url("/img/about/5d_dialog.png");')
        .copy
          .title DIALOG
          p We meet and discuss the goals, parameters and opportunities of the project, in order to craft the program and identify the best internal and network resources required for a successful outcome.
          p Activities may include meeting, brainstorming, networking, technology reviews, and proposals.
      .clear
    .body.body_define.off
      .inner
        .image
          .inner(style='background-image: url("/img/about/5d_define.png");')
        .copy
          .title DEFINE
          p As we begin the design work, ASTRO will create a strong point-of-view by immersing our team in relevant data from clients, competitors, market insights, and usage models to fuel the design process.
          p Activities may include research, demographics, audits, technology reviews, user profiles & use scenarios, engineering & manufacturing reviews.
      .clear
    .body.body_design.off
      .inner
        .image
          .inner(style='background-image: url("/img/about/5d_design.png");')
        .copy
          .title DESIGN
          p Using the fuel from the Define phase, ASTRO creates a range of concepts that explore the design and innovation potential by using a range of communication and design tools over a number of collaborative review sessions.
          p Activities may include a range 2D & 3D storyboards, illustrations, CAD models, physical models & prototypes.
      .clear
    .body.body_develop.off
      .inner
        .image
          .inner(style='background-image: url("/img/about/5d_develop.png");')
        .copy
          .title DEVELOP
          p Often overlapping with Design phase, ASTRO collaborates with implementation resources like engineering, manufacturing, printing, and coding, to guide and subsequently transfer the chosen direction into production.
          p Activities may include 2D/3D CAD development, color, materials & finishes specification files, packaging, out-of-box experiences, UI/UX refinement and interaction guidance.
      .clear
    .body.body_deploy.off
      .inner
        .image
          .inner(style='background-image: url("/img/about/5d_deploy.png");')
        .copy
          .title DEPLOY
          p ASTRO helps advocate and realize the original vision of the program into full commercialization mode with chosen resources and partners.
          p Activities might include part, product or print reviews, manufacturer visits, sales, advertising or retail support.
      .clear
  .clear

