
.title Our glorious, glorious team.
.profiles
  each bio, name in data.about.bios
    .profile(class='profile_' + name,data-profile=name)
      .inner
  .clear
  .bios.off
    each bio, name in data.about.bios
      .bio.off(class='bio_' + name)
        .close &#10005;
        .copy=bio.summary

.clear
