.copy The Chelsea collection's classic materials fused with angular design is inpsired by combination of the old and new architecture that mkaes the Chelsea neighborhood so unique.

.copy The weighted razor and handmade badger brush are housed within a nickel-plated arm and metal stand that's designed to proudly display these carefully designed pieces and stand the test of time.

+pimg(project.folder, 'Lexington_Razor.png')

.copy The Lexington collection is a sophisticated, elegant shaving set that combines classic lines with the latest in Gilette Flexball technology for a versatile look inspired by the Art of Shaving's first store on Lexington Avenue.

+pimg(project.folder, 'Lexington_Base.png')

+pimg(project.folder, 'Lexington_Hero.png')
