
+pimg(project.folder, 'Black_SideOrtho.jpg')

.copy Electric is a Californian action-sports brand to the core.  We were tasked with creating a goggle with a radical new look that would inspire their loyal base.  The result was the EG3 -- a totally fresh-looking snow goggle with some serious functionality improvements.

+pimg(project.folder, 'Galaxy.jpg')
+pimg(project.folder, 'EG3_Tech_Process.jpg')

.copy We designed EG3 to be an evolution of Electric's classic EG2 goggle.  The design preserves the EG2's iconic, sharp shape, but removes the lens frame.  allowing the lens to run to the edge for maximum visibility and futuristic the look.  We also designed the EG3 to integrate their signature quick-change lens feature and included details like fading perforations for a totally original result.

+pimg(project.folder, 'Black_Bottom.jpg')
