+pimg(project.folder, 'process.jpg')

.copy We started by naming the company.  The company lets everyday working folts, or mineral-rights owners and high-stakes, business people or energy-industry lessess collaborate.  So we needed to have a name that reflected a spirit of cooperation.  We believe we struck gold with the approachable Mineralist.

+pimg(project.folder, 'brand_banner.jpg')

.copy The Mineralist name served a clever second purpose of being a description of the user interface -- Mineralist is literally a list of minerals available for the energy industry to lease.

+pimg(project.folder, 'business_card.png', 'top')
+pimg(project.folder, 'bs_flat.png', 'none')

.imagecopy.pad_bottom(style='height: 574px;')
  .block.image.left
    +pimg(project.folder, 'trees.png')
    .clear
  .block.image.right
    +pimg(project.folder, 'illustrations.png')
    .clear

.copy The visual identity reflects the coming together of the two parties, resulting in an oil drop.  Once the brand has fully defined, we then defined the IA (??) and UX for the transaction platform, working through visual design and partnering with software developers to craft the digital mother lode of brand experiences.

+pimg(project.folder, 'home.png')
+pimg(project.folder, 'book.jpg')
