+pimg(project.folder, 'strategy.png', 'bottom')

.copy To cut through the noise of all audio brands in the market today, SOL challenged us start from zero and envision a brand new way to wear music that takes the wearer's experience to eleven.
.copy We also wanted to create something that resonated with the emerging EDM demographic that gave listeners the opportunity to customize their gear at entry-level price point.  And gave the SOL a platform for rapid refresh and innovation.

+pimg(project.folder, 'layered.png')

.copy The SOL Republic brnad was infused with premium features and effects.  creating a uniquely wearable audio-meets-fashion experience from the packaging to the imagery to the sound wave-inspired identity.

+pimg(project.folder, 'layout1.png', 'top')
+pimg(project.folder, 'layout2.png', 'none')
+pimg(project.folder, 'layout3.png', 'none')
+pimg(project.folder, 'packaging.png', 'bottom')

+pimg(project.folder, 'interchangeable.png')

.copy To up the customization factor, SOL Republic headphones were designed to be the first fully swappable headphones, allowing the wearer to reconfigure a custom combination of durable FlexTech headbands, cables, and upgradeable sound engines.
.copy Today, with millions of units deployed, SOL Republic is now a lifestyle spacesetter of affordable high-performance headphones.

+pimg(project.folder, '2up.png')

