
+youtube('7JpfkGAuhV8')

.copy Our work for 3D Robotics touched every part of their brand.  Starting with look, feel, and logo system, and carrying through to package design, digital presence, and on to the drone itself.
.copy The biggest challenge was designing the drone to appeal and inspire hard-core enthusiasts and casual users alike.

+pimg(project.folder, 'brand_banner.jpg', 'top')
+pimg(project.folder, 'logo_construction.jpg', 'bottom')

.copy Since the Solo's positioning at the cutting-edge of the lifestyle-technology intersection demanded we create a bold yet refined look.  Further, the hazards of lfight insisted we also use durable materials that would project the Solo's advanced technology.
.copy We worked to make the Solo's intelligence accessible to users of all levels.  To that end, we created a controller with intuitive user interactions that also featured a revolutionary heads-up video display.

.imagecopy(style='height: 574px;')
  .block.image.left
    +pimg(project.folder, 'Drone.jpg')
    .clear
  .block.image.right
    +pimg(project.folder, 'Control_Closeup.jpg')
    .clear

+pimg(project.folder, 'box_v02_ground-BLK.png', 'top')
+pimg(project.folder, 'box_v02_sky-BLK.png', 'bottom')

.copy Our design work touched every part of the 3D Robotics brand.  Starting with look, feel, and logo, and carried through to package design.
.copy The result is a fully integrated consumer experience taht has positioned 3D Robotics to be a leader in the growing consumer video drone market.
