
.project

  include _header

  .body
    .image
      img(src='../img/project/versus/versus_strategy.png')

    .copy As training techniques at all levels become more sophisticated and the stakes continue to increase, athletes are looking in new places for a competitive edge.  For many, the mind is the final frontier and elite athletes must train their mind as rigorously as they train their bodies

    .image
      img(src='../img/project/versus/versuslogo.png')

    .copy After we named the parent company; Sense Labs, we named and designed the Versus brand and headset to appeal to athletes' sense of competition-with themselves and others-all while humanizing the serious science behind the experience.  Striking a harmonious balance between science and sport resulted in purpose driven, precise engineering with a preformance aesthetic.

    .image: img(src='../img/project/versus/versusbrand3.png')
    .image: img(src='../img/project/versus/versusbrand1.png')
    .image: img(src='../img/project/versus/versusbrand2.png')
    .image: img(src='../img/project/versus/headset1.png')

    .copy We were challenged to create the Versus headset to be attractive enough to pass the mirror test while also being high-performance enough to work effectively on an extreme range of head sizes.

    .imagecopy(style='height: 380px;')
      .block.copy.left
        .copy We did this by combining heat-welded 3D mesh fabric used in athletic footwear with an ultra-lightweight headphone structure.  The soft X-frame flexes to fit on the wearer's head allowing for micro fit adjustments,  while the soft-spike sensors make contact independently to the scalp.
        .clear
      .block.image.right
        .image
          img(src='../img/project/versus/versus_sketch_2up.png')
        .clear

    .imagecopy.black.nopadding(style='height: 570px;')
      .block.image.left
        .image
          img(src='../img/project/versus/green_band_detail.png')
        .clear
      .block.copy.right
        .copy.white For an added degree of customization, the headsets are built with replaceable tags that can be customized with a sponsor, team logo or player number.
        .clear

    .imagecopy(style='height: 380px; max-width: 1020px;')
      .block.copy.right
        .copy The result? all sorts of athletes have responded to Versus.  From Olympic gold medalists to NBA sharpshooters.  Users have embraced the technology and used it to gain an edge at the highest levels of sport.
        .clear
      .block.image.left
        .image
          img(src='../img/project/versus/headset2.png')
        .clear

    .image: img(src='../img/project/versus/versus_ipad.jpg')

  include _credits
