
extends ../inc/layout

block variables
  - var rootdir = '../'

block content

  include ../inc/top


  .assets
    .summary
      .hero
        .copy1 &nbsp;
        .copy2 Astro Assets

    .body
      a.link.press(href='/press/') Press Release
      .title Logo Assets
      .assets
        a.asset(href='/')
          .thumbnail
            .img(style='background-image: url(/img/assets/Astro-Blk.png)')
          .title Astro Logo
          .zip Download zip file 244KB
        a.asset(href='/')
          .thumbnail
            .img(style='background-image: url(/img/assets/Astro_Studios-Blk.png)')
          .title Astro Studios
          .zip Download zip file 244KB
        a.asset(href='/')
          .thumbnail
            .img(style='background-image: url(/img/assets/Astro-bolt-Black.png)')
          .title A Bolt Black
          .zip Download zip file 244KB
        a.asset(href='/')
          .thumbnail
            .img(style='background-image: url(/img/assets/Astro-bolt-Red.png)')
          .title A Bolt Red
          .zip Download zip file 244KB
        a.asset(href='/')
          .thumbnail
            .img(style='background-image: url(/img/assets/Astro-bolt-White.png)')
          .title A Bolt White
          .zip Download zip file 244KB
        a.asset(href='/')
          .thumbnail
            .img(style='background-image: url(/img/assets/A_Bolt-Blk.png)')
          .title A Bolt Black Square 
          .zip Download zip file 244KB
        a.asset(href='/')
          .thumbnail
            .img(style='background-image: url(/img/assets/A_Bolt-Red.png)')
          .title A Bolt Red Square 
          .zip Download zip file 244KB
        a.asset(href='/')
          .thumbnail
            .img(style='background-image: url(/img/assets/A_Bolt-Wht.png)')
          .title A Bolt White Square
          .zip Download zip file 244KB
        a.asset(href='/img/assets/About_Astro.rtf/')
          .thumbnail.full
            .img(style='background-image: url(/img/assets/About_Astro_thumbnail.jpg)')
          .title About Astro
          .zip Download zip file 244KB



        .clear



  include ../inc/bottom

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/assets.js', 'Assets');
      Global.i()
    }

