@font-face {
  font-family: aktivgrotesk bold;
  src: url("fnt/aktivgrotesk/bold.eot") format('embedded-opentype');
  src: url("fnt/aktivgrotesk/bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: aktivgrotesk bolditalic;
  src: url("fnt/aktivgrotesk/bolditalic.eot") format('embedded-opentype');
  src: url("fnt/aktivgrotesk/bolditalic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: aktivgrotesk italic;
  src: url("fnt/aktivgrotesk/italic.eot") format('embedded-opentype');
  src: url("fnt/aktivgrotesk/italic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: aktivgrotesk light;
  src: url("fnt/aktivgrotesk/light.eot") format('embedded-opentype');
  src: url("fnt/aktivgrotesk/light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: aktivgrotesk lightitalic;
  src: url("fnt/aktivgrotesk/lightitalic.eot") format('embedded-opentype');
  src: url("fnt/aktivgrotesk/lightitalic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: aktivgrotesk normal;
  src: url("fnt/aktivgrotesk/normal.eot") format('embedded-opentype');
  src: url("fnt/aktivgrotesk/normal.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: blenderpro medium;
  src: url("fnt/blenderpro/medium.eot") format('embedded-opentype');
  src: url("fnt/blenderpro/medium.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: blenderpro heavy;
  src: url("fnt/blenderpro/heavy.eot") format('embedded-opentype');
  src: url("fnt/blenderpro/heavy.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: blenderpro boldweb;
  src: url("fnt/blenderpro/boldweb.eot") format('embedded-opentype');
  src: url("fnt/blenderpro/boldweb.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: blenderpro thinweb;
  src: url("fnt/blenderpro/thinweb.eot") format('embedded-opentype');
  src: url("fnt/blenderpro/thinweb.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: brooklyn book;
  src: url("fnt/brooklyn/book.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: brooklyn light;
  src: url("fnt/brooklyn/light.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: brooklyn stencil-book;
  src: url("fnt/brooklyn/stencil-book.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  z-index: 100;
}
.top > .inner {
  position: relative;
}
.top > .inner > .a {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 40px;
  height: 40px;
}
.top > .inner > .a > svg {
  width: inherit;
  height: inherit;
}
.top > .inner > .a > svg > g > path {
  fill: #fff;
}
.top > .inner > .burger {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
}
.top > .inner > .burger > .lines {
  margin: 10px 0 0 0;
}
.top > .inner > .burger > .lines > .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 0 0 7px 5px;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
body {
  margin: 0;
  padding: 0;
  background-color: ;
  color: #000;
  font: 18px aktivgrotesk light;
}
.container {
  background-color: ;
}
.project {
  min-height: 600px;
}
.project > .cover {
  height: 600px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.project > .cover > .copy {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -60px;
  height: 120px;
  width: 100%;
}
.project > .cover > .copy > .name,
.project > .cover > .copy > .filters {
  color: #fff;
  text-align: center;
}
.project > .cover > .copy > .name {
  font: 92px blenderpro medium;
}
.project > .cover > .copy > .filters {
  color: #fff;
  font: 18px aktivgrotesk normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.project > .description {
  padding: 40px 20px;
}
.project > .description > .copy {
  font: 60px blenderpro medium;
  color: #fff;
  max-width: 800px;
  margin: auto;
}
.project > .filters {
  background-color: #22252b;
  color: #fff;
  text-transform: uppercase;
}
.project > .filters > .inner {
  max-width: 1020px;
  margin: auto;
}
.project > .filters > .inner > .title {
  float: left;
  padding: 20px 0 20px 50px;
}
.project > .filters > .inner > .filtermenu {
  float: right;
  padding: 0 50px 0 0;
}
.project > .filters > .inner > .filtermenu > .filter {
  float: left;
  padding: 20px;
}
.project > .filters > .inner > .filtermenu > .filter.active {
  background-color: #0195ff;
}
.project > .body {
  min-height: 2000px;
}
.project > .body > .image {
  padding: 50px 0;
  width: 100%;
}
.project > .body > .image > img {
  width: inherit;
}
.project > .body > .copy {
  padding: 50px;
  line-height: 30px;
  max-width: 600px;
  margin: auto;
}
.project > .body > .imagecopy {
  padding: 50px;
  max-width: 1020px;
  margin: auto;
}
.project > .body > .imagecopy.black {
  background-color: #000;
}
.project > .body > .imagecopy.nopadding {
  padding: 0px;
}
.project > .body > .imagecopy > .block.left {
  float: left;
  width: 50%;
  height: 100%;
}
.project > .body > .imagecopy > .block.right {
  float: right;
  width: 50%;
  height: 100%;
}
.project > .body > .imagecopy > .block {
  height: inherit;
}
.project > .body > .imagecopy > .block > .image {
  width: 100%;
  height: inherit;
  text-align: center;
}
.project > .body > .imagecopy > .block > .image > img {
  height: inherit;
}
.project > .body > .imagecopy > .block.copy {
  display: table;
}
.project > .body > .imagecopy > .block.copy > .copy {
  line-height: 30px;
  max-width: 600px;
  padding: 0 50px;
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
.project > .body > .imagecopy > .block.copy > .copy.white {
  color: #fff;
}
