
.about
  > .banner
    position relative
    height 100%
    background-position 50% 50%
    background-size cover
    background-repeat no-repeat
    animation fadeIn 0.5s ease-in both
    background-image url('/img/about/banner.jpg')
    margin -64px 0 0 0
    overflow hidden
    > video
      width 100%
      height 100%
      position absolute
      object-fit cover
      z-index -1

    > .copy
      position absolute
      left 0
      top 50%
      width 100%
      font f_h1
      color: c.white1
      text-align center
      height 110px
      margin-top -55px
      animation cellInY 0.75s 0s ease-in both

  > .fcontainer
    height 64px
    > .filters > .inner > .filtermenu
      > .filter.on, > .filter:hover
        background-color: c.white3

  .block
    background-color: c.black2
    > .inner
      text-align center
      padding 100px
      desktop()
      > .copy, > .scopy
        font f_h3
        color: c.white1
      > .scopy
        font f_h4

  > .filters
    > .inner
      > .filtermenu
        > .filter
          transition background-color 0.1s linear
          &:hover, &.on
            background-color: c.white1
            color: c.black2
  > .sections
    background-color: c.white1
    > .section
      &.on
        display block
      &.off
        display none
    > .section_process
      @import about_process
    > .section_clients
      @import about_clients
    > .section_studio
      @import about_studio
    > .section_careers
      @import about_careers
 
    > .section_clients
    > .section_capabilities
      @import about_capabilities

      > .blocksp
        &.on
          height 420px
        &.off
          height 0px
      > .blocks
        padding 100px 0
        &.fixed
          position fixed
          bottom 631px
          width 100%
          background-color: c.white1
        > .inner
          desktop()
          > .title
            font f_h3m
            text-transform uppercase
          > .blurb
            columns 2
            > p
              box-sizing border-box
              padding 10px 20px 10px 0
              margin 0px
          > .block
            width 50%
            height 340px
            &.left
              float left
            &.right
              float right
            &.block_copy
              background-color: c.white3
              > .inner
                padding 40px
                > .title
                  font f_h4
                  margin 0 0 10px 0
                > .copy
                  line-height 30px

          &.block_project
            background-position 50% 50%
            background-size cover
            background-repeat no-repeat
            cursor pointer
            for key, project in data.work
              &.project_{project.folder}:hover > .inner
                background-color: rgba(c[project.color], 0.75)
            > .inner
              height 100%
              transition background-color 0.1s linear
              > .copy
                color: c.white1
                text-align center
                // 80px high
                // 150 - ( 80 / 2 )
                padding 110px 0 0 0
                > .name
                  font f_h2
                > .filters
                  text-transform uppercase
         
      > .fived
        background-color pink
        > .fivedmenu > .item:nth-child(1), > .bodys > .body:nth-child(1)
          background-color: c.black4
        > .fivedmenu > .item:nth-child(2), > .bodys > .body:nth-child(2)
          background-color: c.blue3
        > .fivedmenu > .item:nth-child(3), > .bodys > .body:nth-child(3)
          background-color: c.blue4
        > .fivedmenu > .item:nth-child(4), > .bodys > .body:nth-child(4)
          background-color: c.blue6
        > .fivedmenu > .item:nth-child(5), > .bodys > .body:nth-child(5)
          background-color: c.blue7
        > .fivedmenu
          > .item
            float left
            width 20%
            cursor pointer
            &:hover, &.on
              background-color: c.black2 !important
            > .copy
              padding 20px
              color: c.white1
              > .name
                font f_h5
                text-transform uppercase
        > .bodys
          > .body
            color: c.white1
            &.on
              display block
            &.off
              display none
            > .inner
              padding 40px
              > .image
                float right
                width 50%
                height 320px
                animation cellInX 0.2s 0s ease-in both
                animation-delay 0.1s
                > .inner
                  margin 0 50px 50px 50px
                  background-position 50% 50%
                  background-size contain
                  background-repeat no-repeat
                  height inherit
              > .copy
                float left
                width 50%
                animation cellInX 0.2s 0s ease-in both
                > .title
                  font f_h5
