.hsbpd
  position relative
  > .dots
    position absolute
    top 50%
    right 50px
    margin-top -110px
    > .dot
      width 20px
      height 20px
      border-radius 50%
      margin 20px 0
      cursor pointer
      &.on
        background-color: c.red1
      &.off
        background-color: c.white1
        
  > .slide
    padding 100px 170px
    background-color: c.black1
    color: c.white1
    > .char
      font f_h2
      border: 10px solid c.white1
      float left
      width 50px
      height 50px
      text-align center
    > .title
      float left
      margin 52px 0 0 20px
    > .copy
      font f_h4
      text-align center
      padding 20px 0 0 0
