.hsbpd
  position relative
  height 631px
  background-color: c.black1
  overflow hidden
  > .dots
    position absolute
    right 50px
    margin-top 160px
    z-index 15
    > .dot
      padding 20px 0
      cursor pointer
      &:hover
        > .copy
          transform translate(0, 0)
          opacity 1
      > .copy
        float left
        opacity 0
        margin-right 5px
        text-align right
        text-transform uppercase
        color: c.white1
        transform translate(10px, 0)
        transition transform 0.1s linear, opacity 0.1s linear
        width 85px
      > .dot
        float right
        width 20px
        height 20px
        border-radius 50%
      &.on > .dot
        background-color: c.red2
      &.off > .dot
        background-color: c.white1
        
  > .slide
    width 100%
    padding 125px 0 75px 0
    height 421px
    color: c.white1
    background-position 50% 50%
    background-size cover
    background-repeat no-repeat
    position absolute
    top 0
    left 0
    &.on
      opacity 1
      transform translate(0, 0)
      transition transform 0.2s ease-in-out, oapcity 0.2s ease-in-out
      z-index 10
    &.off
      opacity 0
      transform translate(0, 631px)
      transition opacity 0.2s linear 
      z-index 5
    &.slide_h
      background-image url('/img/about/capabilities/holistic.png')
    &.slide_s
      background-image url('/img/about/capabilities/strategy.png')
    &.slide_b
      background-image url('/img/about/capabilities/brand.png')
    &.slide_p
      background-image url('/img/about/capabilities/product.png')
    &.slide_d
      background-image url('/img/about/capabilities/digital.png')
    > .inner
      desktop()
      > .char
        font f_h2
        border: 6px solid c.white1
        float left
        width 50px
        height 50px
        text-align center
        > .inner
          margin -2px 0 0 2px
      > .title
        float left
        margin 43px 0 0 20px
      > .copy
        font f_h4
        text-align center
        padding 50px 0 0 0
