
.process
  background-color: c.white1
  > .steps
    padding 16px
    text-align center
    max-width 1125px
    margin auto

    > .step
      text-align left
      background-color: c.white3
      padding 40px
      width 260px
      height 570px
      margin 16px
      display inline-block
      vertical-align top
      animation cellInX 0.2s 0s ease-in both
      for num in 0..3
        &:nth-child({num})
          animation-delay unit(num*0.1, 's')
      &.space
        background-color: c.blue4
        > .image
          margin 325px 0 0 0
      > .image
        width 233px
        height 157px
      > .title
        font f_h2
        text-transform uppercase
        color: c.red1
      > .copy
        p
          font f_copyl

    
