.about
  > .banner
    position relative
    height 100%
    background-position 50% 50%
    background-size cover
    background-repeat no-repeat
    animation fadeIn 0.5s ease-in both
    background-image url('/img/about/banner.jpg')
    > .copy
      position absolute
      left 0
      top 50%
      width 100%
      font f_h1
      color: c.white1
      text-align center
      height 110px
      margin-top -55px
      animation cellInY 0.75s 0s ease-in both

  > .block
    background-color: c.black4
    > .inner
      padding 50px
      desktop()
      > .copy
        font f_h2
        color: c.white1
  > .filters
    > .inner
      > .filtermenu
        > .filter
          transition background-color 0.1s linear
          &:hover, &.on
            background-color: c.white1
            color: c.black2
  > .sections
    > .section
      padding 50px 0
      &.on
        display block
      &.off
        display none
    > .section_clients
      desktop()
      > .title
        font f_h2
      > .clients
        > .client
          width 30%
          height 300px
          background-position 50% 50%
          background-size cover
          background-repeat no-repeat
          float left
    > .section_expertise
      desktop()

      > .capcenter
        background-color orange
        > .capmenu
          float left
          width 200px
          > .cap
            font f_h5
            cursor pointer
            text-transform uppercase
            color: c.white1
            padding 20px
            transition background-color 0.1s linear
            &:hover, &.on
              background-color: c.black2 !important
        > .descs
          margin 0 0 0 200px
          color: c.white1
          background-color: c.black2
          > .desc
            padding 40px
            &.on
              display block
            &.off
              display none
            > .keywords
              font f_copys
              text-transform uppercase
              animation cellInX 0.2s 0s ease-in both
            > .title
              font f_h2
              margin 0 0 20px 0
              animation cellInX 0.2s 0s ease-in both
            > .copy
              line-height 40px
              animation cellInX 0.2s 0s ease-in both
              animation-delay 0.1s
        > .capmenu > .cap:nth-child(1)
          background-color: c.black4
        > .capmenu > .cap:nth-child(2)
          background-color: c.blue3
        > .capmenu > .cap:nth-child(3)
          background-color: c.blue4
        > .capmenu > .cap:nth-child(4)
          background-color: c.blue6
        > .capmenu > .cap:nth-child(5)
          background-color: c.blue7

      > .blocks
        > .title
          font f_h2
          padding 25px 0
        > .blurb
          padding 25px 0
          columns 2
          > p
            box-sizing border-box
        > .block
          width 50%
          height 340px
          &.left
            float left
          &.right
            float right
          &.block_copy
            background-color: c.white3
            > .inner
              padding 40px
              > .title
                font f_h4
                margin 0 0 10px 0
              > .copy
                line-height 30px

          &.block_project
            background-position 50% 50%
            background-size cover
            background-repeat no-repeat
            cursor pointer
            for key, project in data.project
              &.project_{project.folder}:hover > .inner
                background-color: rgba(c[project.color], 0.75)
            > .inner
              height 100%
              transition background-color 0.1s linear
              > .copy
                color: c.white1
                text-align center
                // 80px high
                // 150 - ( 80 / 2 )
                padding 110px 0 0 0
                > .name
                  font f_h2
                > .filters
                  text-transform uppercase
         
      > .fived
        background-color pink
        > .fivedmenu > .item:nth-child(1), > .bodys > .body:nth-child(1)
          background-color: c.black4
        > .fivedmenu > .item:nth-child(2), > .bodys > .body:nth-child(2)
          background-color: c.blue3
        > .fivedmenu > .item:nth-child(3), > .bodys > .body:nth-child(3)
          background-color: c.blue4
        > .fivedmenu > .item:nth-child(4), > .bodys > .body:nth-child(4)
          background-color: c.blue6
        > .fivedmenu > .item:nth-child(5), > .bodys > .body:nth-child(5)
          background-color: c.blue7
        > .fivedmenu
          > .item
            float left
            width 20%
            cursor pointer
            &:hover, &.on
              background-color: c.black2 !important
            > .copy
              padding 20px
              color: c.white1
              > .name
                font f_h5
                text-transform uppercase
        > .bodys
          > .body
            color: c.white1
            &.on
              display block
            &.off
              display none
            > .inner
              padding 40px
              > .image
                float right
                width 50%
                height 320px
                animation cellInX 0.2s 0s ease-in both
                animation-delay 0.1s
                > .inner
                  margin 0 50px 50px 50px
                  background-position 50% 50%
                  background-size contain
                  background-repeat no-repeat
                  height inherit
              > .copy
                float left
                width 50%
                animation cellInX 0.2s 0s ease-in both
                > .title
                  font f_h5
