.title
  font f_h2
  padding 50px 170px
.profiles
  background-color: c.white3
  > .profile
    width 25%
    height 25vw
    background-position 50% 50%
    background-size cover
    background-repeat no-repeat
    float left
    animation cellInX 0.2s 0s ease-in both
    cursor pointer
    transition background-image 0.1s ease-in-out
    for num in 0..28
      &:nth-child({num})
        animation-delay unit(num*0.05, 's')
    for name, profile in data.about.profiles
      &.profile_{name}
        background-image url('/img/about/profiles/' + name + '-default.jpg')
        &:hover
          background-image url('/img/about/profiles/' + name + '-rollover.jpg')

 // responsive grid
@media all and (min-width: 2101px)
  .profiles > .profile
    width 25% !important
    height 17vw !important

@media all and (min-width: 1601px) and (max-width: 2100px)
  .profiles > .profile
    width 25% !important
    height 18vw !important

@media all and (min-width: 1001px) and (max-width: 1600px)
  .profiles > .profile
    width 33.333% !important
    height 23vw !important

@media all and (min-width: 481px) and (max-width: 1000px)
  .profiles > .profile
    width 50% !important
    height 35vw !important

@media all and (min-width: 1px) and (max-width: 480px)
  .profiles > .profile
    width 100% !important
    height 70vw !important

