.assets
  > .summary
    background-color: c.black2
    padding 50px 0 0 0
    > .hero
      color: c.white1
      padding 80px 20px 120px 60px
      > .copy1
        max-width 800px
        margin auto
        text-transform uppercase
      > .copy2
        font f_h3
        max-width 900px
        text-align center
        letter-spacing 2px
        margin auto

  > .body
    desktop()
    padding 50px 0
    > .title
      font f_h3
      padding 0 0 20px 0

    > .link
      padding 10px 0
      color: c.red1
      display inline-block
      text-decoration none
      margin 50px 0
    > .assets
      > .asset
        float left
        width 33%
        margin 0 0 20px 0
        color: c.black1
        text-decoration none
        > .thumbnail
          margin 0 40px 20px 0
          background-color: c.white3
          height 150px
          padding 30px
          &.full
            padding 0px
            height 210px
          > .img
            height 100%
            background-size contain
            background-repeat no-repeat
            background-position 50% 50%
        > .title
          font f_copyb
        > .date
          font f_copyls
        > .zip
          font f_copyls
          color: c.black1
          text-decoration none

@media all and (min-width: 1px) and (max-width: 1000px)
  .assets
    > .body
      > .title
        padding 0 20px
      > .copy
        column-count auto
        column-gap auto
        padding 10px 20px
      > .link
        margin 0 0 0 20px
      > .assets
        > .asset
          width 90%
          margin 5%


