

fonts = bold bolditalic italic light lightitalic normal
fontfaces(aktivgrotesk, fonts, eot ttf)

fonts = boldweb medimweb thinweb
fontfaces(blender, fonts, eot woff)

fonts = book light stencil-book
fontfaces(brooklyn, fonts, otf)
