
.index
  background-color: c.black1
  > .featureds
    height 100%
    > .inner
      height 100%
      position relative
      > .featured
        &.on
          display block
        &.off
          display none
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-position 50% 50%
        background-size cover
        background-repeat no-repeat
        animation fadeIn 0.5s 0s ease-in both
        > .inner
          position relative
          width 100%
          height 100%
          > .copy
            position absolute
            left 170px
            top 70%
            width 100%
            text-align left
            height 110px
            margin-top -55px
            color: c.white1
            animation cellInY 0.75s 0s ease-in both
            text-shadow: 0px 0px 10px rgba(0,0,0,c.black1)
            > .label
              padding 0 0 15px 0
              font f_copys
              > span
                color: c.red1
            > .title
              font f_h3

  > .circles
    position absolute
    bottom 50px
    left 0
    width 100%
    height 50px
    text-align center
    &.off
      display none
    &.on
      display block

    > .circle
      cursor pointer
      width 150px
      height 50px
      display inline-block
      margin 0 25px
      animation cellInX 0.2s 0s ease-in both
      &:hover
        > .shape
          background-color: c.red1
          > .fill
            height 25px
            margin 0
        > .title
          opacity 1
          transform translate(0, -60px)

      for i in 2..10
        &:nth-child({i})
          animation-delay unit((0.1*i), 's')
      > .shape
        width 25px
        height 25px
        background-color: c.white1
        transition background-color 0.1s linear 0.1s
        margin 0 0 0 62px
        border-radius 25px
        position relative
        overflow hidden
        z-index 10
        > .fill
          position absolute
          width 25px
          height 0px
          margin 25px 0 0 0
          background-color: c.red1
          transition height 0.2s ease-out, margin 0.2s ease-out
          z-index 1
      > .title
        color: c.white1
        white-space nowrap
        transform translate(0, -50px)
        opacity 0
        transition opacity 0.1s linear 0.1s, transform 0.2s linear 0.1s

  > .welcome
    background-color: c.black4
    > .inner
      padding 100px
      desktop()
      > .copy
        font f_h2
        color: c.white1

