
.index
  background-color: c.black1
  > .featureds
    height 100%
    > .inner
      height 100%
      position relative
      > .featured
        &.on
          display block
        &.off
          display none
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-position 50% 50%
        background-size cover
        background-repeat no-repeat
        animation fadeIn 0.5s 0s ease-in both
        > .inner
          position relative
          width 100%
          height 100%
          > .copy
            position absolute
            left 170px
            top 70%
            text-align left
            height 110px
            margin-top -55px
            color: c.white1
            animation cellInY 0.75s 0s ease-in both
            //text-shadow: 0px 0px 10px rgba(c.black1, 0.25)
            padding 40px 40px 60px 40px
            background-color: rgba(c.green1, 0.75)
            > .label
              padding 0 0 15px 0
              font f_copys
              > span
                color: c.red1
            > .title
              font f_h3

  > .lines
    position absolute
    bottom 25px
    left 0
    width 100%
    height 50px
    text-align center
    &.off
      display none
    &.on
      display block

    > .line
      cursor pointer
      width 150px
      height 50px
      display inline-block
      margin 0 5px
      animation cellInX 0.2s 0s ease-in both
      &.on
        > .shape
          background-color: c.red1
      &:hover
        > .shape
          background-color: c.red1
        > .title
          opacity 1
          transform translate(0, -35px)

      for i in 2..10
        &:nth-child({i})
          animation-delay unit((0.1*i), 's')
      > .shape
        width 150px
        height 3px
        background-color: c.white1
        transition background-color 0.1s linear
        margin 25px 0 0 0
      > .title
        font f_copyl
        color: c.white1
        white-space nowrap
        transform translate(-5px, -35px)
        opacity 0
        transition opacity 0.1s linear, transform 0.1s linear
        text-align left

  > .welcome
    background-color: c.black2
    > .inner
      padding 100px 0
      desktop()
      span
        color: c.red2
      > .copy1
        font f_h3
        color: c.white1
        padding-bottom 15px
      > .copy2
        font f_h4
        color: c.white1
        padding-bottom 15px

