
vendor-prefixes ?= webkit moz o ms official

// needed
@import vendor
@import mixins
@import guide

@import fonts

@import 'inc/keyframes'

@import '/inc/*'

@import '../bower_components/dbar/src/dbar.styl'

.dbar
  height 15px
  for key, project in data.work
    &.bar_{project.folder} > .inner > .full
      background-color: c[project.color]
  for key, blog in data.blog
    &.bar_{blog.folder} > .inner > .full
      background-color: c[blog.color]

.clear
  clearfix()

body
  margin 0
  padding 0
  background-color: c.grey2
  color: c.black1
  font f_copy
  -webkit-appearance: none;
  &.fixed
    position fixed
    width 100%
    height 100%

.container
  background-color: c.grey1

@import index
@import about
@import project
@import blog
@import guide
@import contact
@import press
@import 'error'

.placeholder
  text-align center
  padding 200px 0 0 0


