.press
  > .summary
    background-color: c.black2
    padding 50px 0 0 0
    > .hero
      color: c.white1
      padding 80px 20px 120px 60px
      > .copy1
        max-width 800px
        margin auto
        text-transform uppercase
      > .copy2
        font f_h3
        max-width 900px
        text-align center
        letter-spacing 2px
        margin auto

  > .body
    desktop()
    padding 50px 0
    > .title
      font f_h3
      padding 0 0 20px 0
    > .copy
      column-count: 2
      column-gap 50px
      font f_copyn
      line-height 25px
      height 150px
      > p
        padding 0
        margin 0 0 10px 0

    > .link
      padding 10px 30px
      color: c.white1
      background-color: c.red1
      display inline-block
      text-decoration none
      margin 50px 0
    > .contact
      margin 50px 0
    > .releases
      > .release
        float left
        width 33%
        margin 0 0 20px 0
        > .thumbnail
          margin 0 20px 20px 0
          > img
            width 100%
            height 200px
            overflow hidden
        > .title
          font f_copyb
        > .date
          font f_copyls
        > .zip
          font f_copyls
          color: c.black1
          text-decoration none

@media all and (min-width: 1px) and (max-width: 1000px)
  .press
    > .body
      > .title
        padding 0 20px
      > .copy
        column-count auto
        column-gap auto
        padding 10px 20px
      > .link
        margin 20px
      > .contact
        margin 20px
      > .releases
        > .release
          width 90%
          margin 5%


