.project
  min-height 600px

  > .cover
    height 600px
    position relative
    background-size cover
    background-repeat no-repeat
    background-position 50% 50%
    > .copy
      position absolute
      left 0
      top 50%
      margin-top unit(-(120/2), px)
      height 120px
      width 100%
      > .name, > .filters
        color: c.white1
        text-align center
      > .name
        font f_h1
      > .filters
        color: c.white1
        font f_filter
        text-transform uppercase
        letter-spacing 2px
  > .description
    padding 40px 20px
    > .copy
      font f_h2
      color: c.white1
      max-width 800px
      margin auto

  > .filters
    background-color: c.black2
    color white
    text-transform uppercase
    > .inner
      desktop()
      > .title
        float left
        padding 20px 0 20px 50px
      > .filtermenu
        float right
        padding 0 50px 0 0
        > .filter
          float left
          padding 20px
          &.active
            background-color: c.blue1
  > .body
    min-height 2000px
    > .image
      padding 50px 0
      width 100%
      > img
        width inherit
    > .copy
      padding 50px
      line-height 30px
      max-width 600px
      margin auto

    > .imagecopy
      padding 50px
      desktop()
      &.black
        background-color: c.black1
      &.nopadding
        padding 0px
      > .block.left
        float left
        width 50%
        height 100%
      > .block.right
        float right
        width 50%
        height 100%
      > .block
        height inherit
        > .image
          width 100%
          height inherit
          text-align center
          > img
            height inherit
        &.copy
          display table
          > .copy
            line-height 30px
            max-width 600px
            padding 0 50px
            display table-cell
            vertical-align middle
            margin auto
            &.white
              color: c.white1
   
  > .credits
    > .inner
      desktop()
      padding 50px
      > .title
        font f_h2
      > .sections
        > .section
          float left
          width 33.33%
          > .title
            font f_h3
            color: c.blue1
          > .item, > a.item
            display block
            margin 0 0 10px 0
            text-decoration none
            color: c.black1

