
.projects

  .summary
    background-color: c.black2
    min-height 600px
    padding 50px 0 0 0

    &.on
      display block
    &.off
      display none
    > .hero
      color: c.white1
      padding 80px 20px 120px 60px
      > .copy1
        max-width 800px
        margin auto
        text-transform uppercase
      > .copy2
        font f_h3
        max-width 900px
        text-align center
        letter-spacing 2px
        margin auto
        
.projects > .summary > .thumbs, .related > .inner > .relateds, .index > .projects, .blog > .summary > .thumbs, .index > .blog
  > .thumb
    &.on
      display block
    &.off
      display none
    float left
    width 33.333%
    height 23vw
    cursor pointer
    animation cellInY 0.2s 0s ease-in both
    overflow hidden
    &:hover
      > .inner > .bg > .copy
        > .name, > .filters
          opacity 1
          transform translate(0, 0)
    for num in 0..10
      &:nth-child({num})
        animation-delay unit(num*0.05, 's')
    for key, project in data.work
      &.thumb_{project.folder}:hover > .inner > .bg
        background-color: rgba(c[project.color], 0.75)
    for key, entry in data.blog
      &.thumb_{entry.folder}:hover > .inner > .bg
        background-color: rgba(c[entry.color], 0.75)

    > .inner
      background-size 120%
      background-repeat no-repeat
      background-position 50% 50%
      width 110%
      height 110%
      margin -5% 0 0 -5%
      transform-style preserve-3d
      backface-visibility hidden
      > .bg
        height 100%
        width 100%
        transition background-color 0.1s linear
        display table
        > .copy
          color: c.white1
          text-align center
          display table-cell
          vertical-align middle
          padding 0 50px
          > .name
            font f_h2
            opacity 0
            transform translate(0, 10px)
            transition opacity 0.1s linear
          > .filters
            text-transform uppercase
            opacity 0
            transform translate(0, 10px)
            transition opacity 0.1s linear 0.1s
        

.projects

  > .project
    min-height 600px
    &.on
      display block
      > .cover, > .body > .image > img
        display block
    &.off
      display none
      > .cover, > .body > .image > img
        display none

    > .cover
      height 764px
      position relative
      background-size cover
      background-repeat no-repeat
      background-position center center
      > .copy
        position absolute
        left 0
        top 50%
        margin-top unit(-(120/2), px)
        height 120px
        width 100%
        > .name, > .filters
          color: c.white1
          text-align center
        > .name
          font f_h1
        > .filters
          color: c.white1
          text-transform uppercase
          font f_copyn
          letter-spacing 2px
    > .description
      padding 100px 20px 100px 20px
      text-align center
      color: c.white1
      > .name
        font f_h2
      > .filters
        text-transform uppercase
        padding 0 0 50px 0
      > .copy
        font f_h4
        max-width 1020px
        margin auto

.projects > .project

  > .body
    > .embed
      desktop()
      > .inner
      	padding-bottom 56.25%
      	position relative
      	height 0
      	max-width 1020px
      	margin auto
      .iframe
        position absolute
    > .image
      &.black
        background-color: c.black1
      &.blue5
        background-color: c.blue5
      &.white2
        background-color: c.white2 
      > .inner 
        box-sizing: border-box
        desktop()
        > img
          width 100%
      > .inner_100
        > img
          width 100%
    > .images
      > .inner
        desktop()
        > img
          width 50%
      > .inner_100
        > img
          width 50%
      > .inner_50
        width:50%
        float left
        margin-bottom -1px
        > img
          width 100%
      &:after
        content ''
        display block
        clear both
    > .space
       height 50px
       &.black
        background-color: c.black1
    .copyblock
      padding 100px 50px 90px 50px
      line-height 30px
      box-sizing: border-box
      &.black
        background-color: c.black1
        color: c.white1
      &.black2
        background-color: c.black2
        color: c.white1
      &.black3
        background-color: c.black3
        color: c.white1
      &.green
          background-color: c.green3
          color: c.black1
      &.brown
        background-color: c.brown1
      &.orange
        background-color: c.orange1
      &.pink1
        background-color: c.pink1
        color: c.black1
      &.blue5
        background-color: c.blue5
      &.blue3
        background-color: c.blue3
      &.blue
        background-color: c.blue1
        color: c.white1
      &.red
        background-color: c.red1
        color: c.white1
      &.white3
        background-color: c.white3
      > .inner
        desktop()
        &.white3
          background-color: c.white3
        > .title
          font f_h3m
          text-transform uppercase
          padding 0 0 10px 0
          &.white1
            color: c.white1
          &.centered
            text-align center
        > .copy
          font f_copyn
          line-height 30px
          padding 0 0 10px 0
          &.big
            letter-spacing 2px
            font f_h3m
            text-align center
          &.white1
            color: c.white1
          &.centered
            text-align center
        > .blurb
          &:after {
              content ''
              display block
              clear both
          }
          > p
            float:left
            font f_copyn
            line-height 30px
            box-sizing border-box
            margin:0;
            padding 10px 20px 10px 0
            width 50%
  > .related
    > .title
      font f_h3
      text-align center
      padding 20px
      color: c.white1
      for key, project in data.work
        &.title_{project.folder}
          background-color: c[project.color]
    > .inner
      margin auto
.projects > .project, .projects > .summary, .about 
  font f_copyls
  color: c.black3
  > .fcontainer
    background-color white
    > .filters, > .fcontainer > .filters
      background-color: c.white1
      text-transform uppercase
      border-bottom: 2px solid c.white2
      //border-bottom: 2px solid c.blue6
      &.float
        top 0
        width 100%
        position fixed
        z-index 80
        //animation filters 0.1s ease-out
      > .inner
        desktop()
        > .title
          float left
          padding 20px 0 20px 0px
        > .filtermenu
          padding 0 50px 0 0
          margin auto
          text-align center
          > .filter
            position relative
            cursor pointer
            display inline-block
            padding 20px
            margin 0 -5px
            for key, project in data.work
              &.filter_{project.folder}.active
                background-color: c[project.color]
              &.filter_{project.folder}:hover
                background-color: rgba(c[project.color], 0.25)
 
.projects > .summary
  > .fcontainer
    height 60px
    background-color white
  > .filters, > .fcontainer > .filters
    > .inner
      max-width none
      > .title
        display none
      > .filtermenu
        > .filter
          transition background-color 0.1s linear, padding 0.2s linear
          &:hover
            background-color: rgba(c.white2, 0.5)
          &.on
            background-color: c.white2
            color: c.black1

.projects > .project > .body 
  .table
    width 100%
    display table
    > .row
      display table-row
      > .copyblock, .imgblock
        display table-cell
        width 50%
        vertical-align middle
        height 100%
        max-width none
      > .copyblock > .inner
        max-width 460px
        float right
      &:after
        content ''
        display block
        clear both
        &.middle
          vertical-align middle
      > .imgblock
        background-repeat no-repeat 
        background-position center center
        background-size cover
      
    img
      width 100%

.minheight_500
  min-height 500px     
.minheight_600
  min-height 600px

.no_padding
  padding: 0 !important
  
.with_padding
  padding 100px 50px 90px 50px
  box-sizing: border-box
.padding_lr_10_mobile
	padding-left 10
	padding-right 10
	
 // responsive grid
@media all and (min-width: 2101px)
  .thumb
    width 25% !important
    height 17vw !important

@media all and (min-width: 1601px) and (max-width: 2100px)
  .thumb
    width 25% !important
    height 18vw !important

@media all and (min-width: 1001px) and (max-width: 1600px)
  .thumb
    width 33.333% !important
    height 23vw !important

@media all and (min-width: 481px) and (max-width: 1000px)
  .thumb
    width 50% !important
    height 35vw !important

@media all and (min-width: 1px) and (max-width: 480px)
  .thumb
    width 100% !important
    height 70vw !important
  .projects > .project  
    > .cover
      height 300px
      background-size 1000px 300px
      background-position 60% center
  .projects > .project > .body .copyblock > .inner > .blurb > p
    float none
    width 100%
  .projects > .project > .body > .table > .row > .copyblock
    width 100%
    > .inner
      float none
  .projects > .project > .body > .images 
    > .inner_100 > img
      width 100%
    > .inner_50
      width 100%
    > .inner > img
      width 100%
    > .nosplit_mobile > img
      width 50% !important
  .projects > .project > .body
    .table
      display block
      > .row
        display block
        > .copyblock, .imgblock
          display block
          width 100%
          height auto
        > .imgblock 
          padding-top: 70%
        > .ratio_110_mobile
          padding-top: 110%
        > .ratio_100_mobile
          padding-top: 100%
        > .copyblock > .inner
          max-width 460px
          float none
  .space_mobile
    height 50px
  .rm_space_mobile
    height 0px !important
@media all and (min-width: 1px) and (max-width: 1000px)
  .projects
    > .summary
      > .hero
        padding 80px 20px 120px 20px
      > .fcontainer
        display none
        > .filters
          display none
