.project
  min-height 600px
  background-color pink

  > .header
    height 600px
    background-color orange
    position relative
    > .name
      position absolute
      left 0
      top 50%
      margin-top -(f_size*6/2)
      width 100%
      height f_size*6
      font f_h1
      background-color red
      color: c.white1
      text-align center
