
f_size = 16px

f_copy = f_size aktivgrotesk normal
f_copyb = f_size aktivgrotesk bold

f_h1 = 92px blenderpro boldweb 
f_h2 = 60px blenderpro medium 
f_filter = 18px aktivgrotesk normal

// colors
c = {}
for key, value in data.colors
  c[key] = convert(value)

