
extends ../inc/layout

block variables
  - var rootdir = '../'

block content
  include ../inc/top

  .contact

    .banner
      .inner.off
        .copy Want to be our friend? OK cool.

    .title Come Chill.
    #map
      //iframe(width='100%',height='400px',frameBorder='0',src='https://a.tiles.mapbox.com/v4/kso.n9e389ni/attribution.html?access_token=pk.eyJ1Ijoia3NvIiwiYSI6IlNTbUd2ZG8ifQ.W5l79A5C_jeSVqZ1BUiKWA')

  include ../inc/bottom

  link(href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css',rel='stylesheet')
  script(src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js').

  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('../jst/contact.js', 'Contact');
      Global.i()
      accessToken = '#{data.mapbox.accessToken}';
      mapId = '#{data.mapbox.mapId}';
    }

